[2013-02-19 21:23] frederic-mahe opened #1 "Swarm radius values should be available via an option"
It would be interesting to get the _radius_ of each swarm. The radius is the maximum distance (or the minimum percentage of identity) between the seed of the swarm and any another amplicon assigned to the swarm.

[2013-02-19 21:55] torognes opened #2 "Allow ascii \x01 in headers"
Allow the \x01 character (^A) (SOH) in headers. It is used by NCBI to separate entries in the FASTA headers of the NR and NT databases.

[2013-02-19 21:56] torognes opened #3 "Check for unique sequences"
Check if sequences are unique and handle any duplicates; Compute hash of each sequence by MD5, SHA1 or similar

[2013-02-19 21:57] torognes opened #4 "Sort by abundance"
Add option to sort input sequences according to their abundance if present

[2013-02-19 21:58] torognes opened #5 "Check length of sequences during comparison"
Check length of sequences during comparison and skip comparison if length difference is larger than d. May increase speed.

[2013-02-19 21:59] torognes opened #6 "Check compositition of sequences during comparison"
Check compositition of sequences during comparison and skip if base composition is too different

[2013-02-19 22:00] torognes opened #7 "Store sequences using 2 bits"
Store sequences using 2 bits instead of 8 bits per nucleotide. Will allow larger datasets. Impact on performance uncertain.

[2013-02-19 22:03] torognes opened #8 "UCLUST file format output"
Add option to output in a UCLUST-like file format. For details, see

http://www.drive5.com/uclust/uclust_userguide_1_1_579.html#_Toc257997686

[2013-02-19 22:05] torognes opened #9 "Output detailed statistics for each swarm"
Add an option to output the following swarm statistics to a separate file:
- maximum radius of cluster
- number of unique amplicons
- number of copies
- name of the seed
- seed abundance,
- number of singletons (amplicons with an abundance of 1)

[2013-02-19 22:17] torognes opened #10 "Check for unique headers"
Check for unique headers and report error if duplicates are found

[2013-02-19 22:51] torognes opened #11 "Compile on Mac"
Make it possible to compile SWARM on Macs.

[2013-02-19 23:45] torognes opened #12 "Adapt to AVX2"
Adapt SWARM to [AVX2](https://en.wikipedia.org/wiki/Advanced_Vector_Extensions#Advanced_Vector_Extensions_2) and the 256-bit registers available in the new Intel Haswell CPUs that became available in June 2013. Should allow 32-way SIMD parallellisation.

[2013-02-22 15:46] #2 closed, assigned to torognes

[2013-02-26 23:43] #9 closed, assigned to torognes

[2013-02-26 23:44] #8 closed, assigned to torognes

[2013-02-26 23:44] #1 closed, assigned to torognes

[2013-02-26 23:45] #5 closed, assigned to torognes

[2013-02-26 23:45] #6 closed, assigned to torognes

[2013-02-27 10:21] frederic-mahe opened #13 "Small bug in the uclust-like output format"
The fourth column of lines starting with "C" should be "*" instead of a percentage of identity.

[2013-02-27 11:17] frederic-mahe opened #14 "Swarm radius in statistics should be multiplied by d"
The radius value outputted is a short integer. This integer represents the number of generations, or the number of iterations, that it took for the swarm to reach its maximum limits. If multiplied by the parameter _d_, it gives the maximum number of differences between the seed and the edge of the swarm.

I think that the radius value should be multiplied by _d_ by default.

[2013-02-27 13:00] #13 closed, assigned to torognes

[2013-02-27 13:06] #14 closed, assigned to torognes

[2013-04-18 08:06] torognes opened #15 "Fix bug in affine alignment backtracking"
More information need to be saved during forward alignment in order to backtrack the correct alignment when using affine gap penalties. Otherwise the identified alignment may not be optimal.

[2013-05-12 20:39] #15 closed, assigned to torognes

[2013-05-12 20:40] #11 closed, assigned to torognes

[2013-05-12 20:40] torognes opened #16 "Improve speed by advanced filtering"

[2013-05-16 08:37] #16 closed, assigned to nobody

[2013-05-19 20:11] torognes opened #17 "Remove requirement of SSE4.1"
Avoid requirement of SSE4.1 so that the code will run on some AMD cpus.

[2013-05-19 20:12] torognes opened #18 "Graceful exit if cpu features are missing"
Graceful exit if cpu features are missing. Don't exit with illegal instruction.

[2013-06-20 09:33] #17 closed, assigned to torognes

[2013-06-20 09:33] #18 closed, assigned to torognes

[2013-06-24 10:08] torognes opened #19 "Avoid requirement of POPCNT instruction"
SWARM still requires a CPU with the POPCNT instruction, but that requirement should be avoided.

[2013-06-24 12:22] torognes opened #20 "Errors in statistics: radius and generation"
The radius and generation values in the statistics are not correct.

[2013-06-24 14:40] #20 closed, assigned to torognes

[2013-08-28 11:59] torognes opened #21 "More informative error message for illegal characters"
When an illegal character in a sequence is detected, inform the user of where that character was found.

[2013-09-29 14:51] frederic-mahe opened #22 "Support for usearch amplicon-abundance annotation style"
Swarm assumes that in this type of fasta header:

[code]

The value `2` represents the abundance of that sequence (i.e. the number of time the sequence has been seen in the data set). Usearch uses a different annotation style ([see here for a full description](http://www.drive5.com/usearch/manual/size_annot.html)):

[code]

Swarm should support these two forms (with or without the terminal `;`) to

[2014-04-11 14:34] #19 closed, assigned to torognes

[2014-05-09 11:47] torognes opened #23 "Provide Mothur-compatible output files"

[2014-05-21 20:49] accaldwell opened #24 "Linearization awk code prints last line twice"
The provided awk code to linearize fasta files prints the last line twice.

[code]

doesnt work for me, while:

[code]

is fine.

Easy test:

[code]

with original code produces:

[code]

with fixed code produces:

[code]

Tested with GNU awk 4.0.1 and 4.1.1

[2014-05-22 07:38] #24 closed, assigned to nobody

[2014-05-22 20:07] #23 closed, assigned to torognes

[2014-05-22 20:07] #21 closed, assigned to torognes

[2014-05-27 09:45] lanzen opened #25 "Refine clustering"
When running swarm_breaker I get an error I cannot figure out. I would be grateful for help:

$ python ~/kode/swarm/scripts/swarm_breaker.py -f All_reads_U.fasta -s amplicons.swarms > amplicons.swarms2
Traceback (most recent call last):
  File "/home/andersl/kode/swarm/scripts/swarm_breaker.py", line 315, in <module>
    main()
  File "/home/andersl/kode/swarm/scripts/swarm_breaker.py", line 304,

[2014-05-27 14:25] torognes opened #26 "Add d value in mothur-output"
Add the d value in the first column. "swarm_1" instead of just "swarm".

[2014-06-02 10:06] #25 closed, assigned to nobody

[2014-06-04 15:46] mwhall opened #27 "Progress Indication"
If it's possible given the implementation, some kind of progress indication would be very helpful. Maybe a count of sequences left unassigned to an OTU?

Can the stats file be used in any way to determine progress? We've had a job clustering 5,358,959,072 nucleotides in 12,783,921 (unique) sequences on 16 cores with 16GB of RAM for around a week now, and knowing when it may complete would be some

[2014-06-04 17:02] #27 closed, assigned to nobody

[2014-06-07 12:56] frederic-mahe opened #28 "Accelerate pairwise comparisons for the special case d = 1"
By default, the _d_ value is set to 1, to produce high-resolution OTUs, even for the densest regions of the amplicon-space.  We can safely assume that d = 1 will be by the most frequent choice in future studies.

There are several ways to speed up the pairwise comparisons when searching only for amplicons with one difference.

The most obvious way is to compare the strings character by character.

[2014-06-07 20:36] frederic-mahe opened #29 "Exact string matching strategy (special case d = 1)"
When d = 1, how many micro-variants can a sequence have?

At most 7L + 4, where _L_ is the length of the seed.

A micro-variant is a sequence differing from the seed sequence by only one substitution, insertion or deletion. The number of possible micro-variants is surprisingly low, and it is reasonably fast to generate all possible sequences. If we store our fasta entries as a mapping of sequences

[2014-06-12 14:43] frederic-mahe opened #30 "Add the number of differences in the output of the d option"
In its present form, the -d option outputs pairs of amplicons that have at most /d/ differences, and a dummy value "1". It would be much more interesting to replace that dummy value with the actual number of differences between the two amplicons.

[2014-06-12 15:49] #28 closed, assigned to nobody

[2014-07-29 21:09] ekopylova opened #31 "expand on the swarm_breaker.py -b option to check $PATH"
The '-b' option wouldn't need to be passed if swarm exists in one of the $PATH directories (/usr/bin included).

[2014-07-30 12:52] #31 closed, assigned to nobody

[2014-08-08 13:21] #30 closed, assigned to nobody

[2014-08-08 13:22] #26 closed, assigned to torognes

[2014-08-08 14:50] #22 closed, assigned to nobody

[2014-08-18 21:46] #4 closed, assigned to torognes

[2014-08-18 21:48] #29 closed, assigned to nobody

[2014-08-18 21:49] torognes opened #32 "Extend ideas used in new strategy for d=1 to d>1"

[2014-09-12 12:01] torognes opened #33 "Unstable order of amplicons in swarms with new approach for d=1 with >1 thread"
With the new approach for d=1, the order of amplicons in each swarm may be unstable when running with more than one thread; the actual swarms and their amplicons should be the same. This is because the list of subseeds for each seed is not in the order of the input file. To fix this we could sort the subseeds before proceeding to the next (sub)seed.

[2014-09-27 15:49] frederic-mahe opened #34 "Bug in the -b option output (critical)"
That option is important for the swarm breaking. In its present form, the output of the option is wrong, which **gives wrong breaking results**. The `-b` output is formatted as follows: @@ TAB father TAB son TAB number of differences.

As it is implemented now, the `-b` option always output the cluster's seed as "father". Here is a simple example. That fasta file:

[code]

...yields the following

[2014-09-27 17:14] #34 closed, assigned to torognes

[2014-09-28 17:00] frederic-mahe opened #35 "Segmentation fault (or SIGABRT) with -a"
With several test datasets, I get a segmentation fault at the end of the clustering process when using the -a option. A gdb session shows

[code]

if I do the same using 2 threads, I obtain a different error:

[code]

[2014-09-28 19:36] #35 closed, assigned to torognes

[2014-09-28 20:02] torognes opened #36 "Read input from stdin if no filename is specified on the command line"

[2014-09-29 13:37] #36 closed, assigned to torognes

[2014-10-02 21:56] torognes opened #37 "Sequence headers with multiple underscore characters cause problems"
Headers with multiple underscore characters (e.g. >x_y_123) are not handled correctly.

[2014-10-03 10:52] #37 closed, assigned to nobody

[2014-10-03 11:29] torognes opened #38 "swarm_breaker.py handles multi-line fasta files incorrectly"
It seems to ignore all but the last sequence line in multi-line fasta files. See line 133-134 in swarm_breaker.py.

[2014-10-05 16:30] #38 closed, assigned to nobody

[2014-10-05 17:51] frederic-mahe opened #39 "swarm_breaker.py sometimes hangs forever"
The python script uses `subprocess` to run swarm on sub-parts of the fasta dataset. The function `wait()` sometime hangs forever, without doing anything. The bug is known to be triggered when using pipes to redirect `stdout` and/or `stderr` of the subprocess. When the amount of data is bigger than 65k (a memory page?), the deadlock happens.

One recommended solution is to write `stdout` and `stder

[2014-10-08 08:03] torognes opened #40 "Integrate the swarm-breaker into the main swarm code"

[2014-10-13 14:10] frederic-mahe opened #41 "Add the OTU number to the output of the -b option"
Géraldine Pascal from Toulouse (France) suggested to add the OTU number to the output of the `-b` option. Each line would then contain a new column with a positive integer representing the OTU number in swarm results (): 1 for the first OTU, 2 for the second, etc.

That would facilitate the filtering of the `-b` output, allowing for an easy extraction of all amplicon pairs belonging to a given OTU

[2014-11-06 20:38] #41 closed, assigned to torognes

[2014-12-06 22:22] #40 closed, assigned to torognes

[2014-12-06 22:24] #33 closed, assigned to torognes

[2014-12-06 22:30] #32 closed, assigned to nobody

[2014-12-06 23:01] torognes opened #42 "Implement the new fastidious option"

[2014-12-31 06:22] colinbrislawn opened #43 "Chimera checking and swarm"
When clustering with swarm, when is an appropriate time to check for chimeras?

Developers of previous OTU picking algorithms have recommended chimera checking at different stages. For example, Robert Edgar recommends [using uchime to remove chimeras after OTU picking with uparse](http://drive5.com/usearch/manual/uchime_ref.html). His recommendation is based, in part, on chimera removal heuristics

[2015-01-01 14:34] torognes opened #44 "Rewrite search8.cc and search16.cc using intrinsics for portability"
Registers xmm8-15 and r8-15 are unavailble on 32-bit platforms. Rewrite with intrinsics to avoid problem.

[2015-01-02 21:14] frederic-mahe commented on #43
I do it after swarm, on OTU representatives.

I never tested it properly, but the way swarm builds OTUs should not be affected by chimeras. Chimeras will very likely form independent OTUs, it is then logical to check for chimeras after clustering. In practice, you just have to create a fasta file containing OTU representatives (i.e. the most abundant amplicon in each OTU) and run a chimera check o

[2015-01-03 17:12] colinbrislawn commented on #43
Hello Frederic,

Thank you for the advice. I'm currently making great use of [vsearch](https://github.com/torognes/vsearch/) and I appreciate how well it integrates with other bioinformatics programs.

I want to make sure I understand the code snippet you sent me:
[code]
I can see that the inputs are a fasta file and a swarm results file, and the output is a fasta file of representative sequences.

[2015-01-04 18:20] frederic-mahe commented on #43
Hi Colin,

Is the output fasta file comparable to the fasta of OTU centroids generated by usearch/vsearch?

Yes and no. Yes, the output of the code snippet is like a list of usearch centroids. But swarm and uclust (usearch/vsearch) clustering are very different in nature. I personally use swarm to perform clustering for all my amplicon-based projects. Swarm gives higher resolution results and guar

[2015-01-05 19:41] colinbrislawn commented on #43
Hello Frederic,

Thank you for the clarification. I understand how swarm greatly improves the definition of an OTU and provides better biological clusters in both similar and divergent sequences. Swarm introduces some new file types, I'm just having trouble parsing the output.

I've used the command you provided, but it does not work for me. I ran each command separately and found that the grep co

[2015-01-05 21:26] frederic-mahe commented on #43
Hi Colin,

did you use the parenthesis around the `cut` command?
[code]
It tells the shell to redirect the output of `cut` to `grep` as if it was a file (the `-f` option of `grep` normally reads from a file).

[2015-01-05 22:28] colinbrislawn commented on #43
When I run the following command, nothing happens.
[code]

[2015-01-06 08:22] frederic-mahe commented on #43
OK, can you copy-paste the first 10 lines of the `cut` output? I will compare it to the first lines of your dereplicated fasta file to understand why it is not working.

[2015-01-06 17:05] colinbrislawn commented on #43
I didn't think to check the `cut` output. Good idea!

It look like the cut command is not changing my swarm results at all. As an example:
[code]
(Would you like me to attach the swarm results somehow? Each line if vary long.)

[2015-01-07 18:59] frederic-mahe commented on #43
Hi Colin,

your swarm output should normally contain more than one line. Can you please show me the command line you used to perform the clustering?

[2015-01-07 23:51] colinbrislawn commented on #43
Sure!
[code]

The file `seqs.fna` was created with the qiime script [`split_libraries_fastq.py`](http://qiime.org/scripts/split_libraries_fastq.html)

Thanks!
Colin

[2015-01-09 19:07] frederic-mahe commented on #43
Hi Colin,

sorry for the late reply, the problem comes from the `-r swarm.mothur` option. That option modifies the swarm's output, and does not create another file. So do not use the `-r` option if you do not intend to use mother formatted results. The `-u` option also slows does swarm a lot, do not use it if you don't really need results in that format.

[2015-01-09 19:15] colinbrislawn commented on #43
Hello Frederic,

I was unaware that `-r swarm.mothur` would also change the normal output. I thought it would make a new file, like `-u` does.

I will try again without `-r` and also compare speeds with and without `-u`.

Thank you for all your assistance!
Colin B

[2015-01-13 19:46] colinbrislawn opened #45 "Assigning taxonomy to swarm centroids"
Hello Frédéric,

Do you have a standard operating procedure for assigning taxonomy to a given swarm?

I'm accustomed to using [pre-clustered taxonomy databases](http://greengenes.secondgenome.com/downloads/database/13_5), but that would negate swarm's increated resolution of similar taxa.

Thank you for your advice,
Colin

[2015-01-14 09:03] frederic-mahe commented on #45
Hi Colin,

I have my own procedure. In a nutshell, take a reference database, truncate your reference sequences to keep only the in-between primers region; for each environmental amplicon, do a pairwise global alignment against that prepared reference database, to identify the closest reference(s).

In general, a swarm receives the same assignment than its most abundant amplicon (aka "the peak").

[2015-01-14 17:22] colinbrislawn commented on #45
Hello Frederic,

Thanks for explaining your process to me. That seems very reasonable. I understand the desire not to distribute or support for personal workflow scripts.

I look forward to your vsearch solution. As I'm sure you know, [something similar](http://qiime.org/scripts/parallel_assign_taxonomy_uclust.html) has been done before, and is being [done again](http://drive5.com/usearch/manual/u

[2015-01-14 17:35] frederic-mahe commented on #45
Hi Colin,

you are right to indicate that similar solutions already exist. For me, the incentive to develop "yet another assignment method" is my taste for exact methods (as opposite to heuristics). I like the idea of using the most precise method we have to compare sequences, which is global pairwise alignment. Thanks to Torbjørn's work, the exact approach is (or soon will be) fast enough for tod

[2015-01-14 18:06] colinbrislawn commented on #45
Hi Frederic,

Oh, I didn't mean to discourage this because it is similar approach to Edgar's methods. If anything, this is encouraging because 1) you know it works 2) you know you can improve on it 3) you know people want to use it. These people include me.

I'm excited by the development of vsearch because it directly addresses the two failing of usearch: closed source code and hard-to-verify heu

[2015-01-15 09:33] frederic-mahe commented on #45
Thanks Colin. I am going to close that issue then.

[2015-01-15 09:33] #45 closed

[2015-01-15 09:37] frederic-mahe commented on #39
That issue is "solved" in the swarm 2.0 branch. Breaking is now embedded into the OTU delineation process itself and does not require using a python script anymore.

[2015-01-15 09:37] #39 closed

[2015-02-16 15:35] torognes opened #46 "Avoid SSE3 and SSSE3 dependency"
The Swarm code is compiled with "-mssse3" in the Makefile. A few ssse3 instructions are used in the alignment code if present, otherwise the code is written to only require sse2, and the presence of sse2 is tested for. However, it seems that the compiler also uses some sse3 or ssse3 instructions somewhere. This results in termination of Swarm with "Illegal instruction" fatal errors on some archite

[2015-02-18 16:44] mdehollander opened #47 "Downstream analysis on otutable or biom file"
Hi,

What would be the best approach to continue with statistiscs (in R/phyloseq) after swarm clustering? Mapping raw reads to the reference sequences using vsearch and the -usearch_global option? If I would use the mothur output, a count_table is still needed to create a shared/biom file. Or is there another way to use the abundance information in the stats file for example to come to a table wit

[2015-02-19 13:03] frederic-mahe commented on #47
Hi @MaTiZ,

regarding taxonomic assignment, you can indeed use vsearch (see [vsearch/issues/73](https://github.com/torognes/vsearch/issues/73)).

Swarm does not output a biom file yet. I designed it to be a clustering tool, not a fully fledged pipeline. To help users, I described on [that page](https://github.com/torognes/swarm/wiki/Working-with-several-samples) a way to to produce a table of ampl

[2015-02-25 01:29] colinbrislawn commented on #46
Qiime is configured to uses swarm 1.2.19 followed by swarm_breaker.py. If qiime users are reporting this, the problem may be replicable in an older version of swarm.

[2015-02-28 09:10] frederic-mahe opened #48 "Use swarm for dereplication (-d 0)"
Rohit Kolora suggested to add a possibility to run swarm with `-d 0` to dereplicate datasets.

The recommended tool for dereplication is `vsearch --derep_full`. Implementing an efficient dereplication in swarm is not a priority for us, and would lead to code duplication. Although, it should be possible to implement some sort of (inefficient but functional) dereplication, just by keeping the presen

[2015-02-28 12:10] frederic-mahe commented on #46
I've tested the new version 1.2.21 and it works correctly on my computer (clustering results are unchanged). I've tried to compare the behavior of versions 1.2.20 and 1.2.21 on the oldest cluster nodes I could find (PowerEdge M605 Blade Server from 2009, AMD Opteron), but they both behave similarly, without any error messages. The next step is to ask the QIIME maintainers to point to a new release

[2015-03-02 14:51] mdehollander commented on #43
Hi,

I would like to join in on this topic, because i am also working on chimera detection of swarm output. I have a few questions:

- For uchime_denovo does the input need to be in usearch format (with size= in the header)? I have the seqs now formatted as >md5sum_abundance and only the uchime_ref finds chimeras.
- What would be the best way to incorporate the uchime output with the guide to make

[2015-03-02 15:06] torognes commented on #43
Hi @mdehollander,

Yes, uchime_denovo needs abundance information because by default it will only use a sequence as a potential chimera parent sequence if the abundance of the parent is twice the abundance of the potential chimeric sequence. That level can be adjusted though, with the `--abskew` option. Vsearch does not recognize abundance information in the swarm format (after the underscore).

-

[2015-03-02 15:17] frederic-mahe commented on #43
Hi,

(a quick answer, I will take the time to answer fully as soon as I will be available)

if you have swarm-style abundance annotations, you can easily switch to usearch-style annotation:
[code]
use `-i` if you want to make the change in place.

[2015-03-03 10:23] frederic-mahe commented on #43
Hi @mdehollander,

regarding your second question (how to incorporate chimera detection results in the contingency tables?). What I did recently on my own projects is to perform *de novo* chimera detection on OTU representatives (so, after `swarm`). Using `vsearch`, I obtained a list of chimeras. From there, I see two different possibilities when building the OTU table: 1) discard OTUs whose repre

[2015-03-03 21:03] colinbrislawn commented on #47
Hello @frederic-mahe, @torognes

I understand that Swarm is a clustering tool, first and foremost. I also understand the importance of avoiding scope creep and support your decision to implement tools in vsearch instead of swarm: torognes/swarm#48

Part of what makes Swarm so much better than other clustering tools is that it fundamentally changes the definition of an OTU. This new definition may

[2015-03-06 12:54] frederic-mahe opened #49 "Compilation issue with swarm 2.0.4"
the file `threads.h` is missing and prevents compilation.

[2015-03-06 13:10] torognes commented on #49
Sorry, I forgot to include it. Fixed now.

[2015-03-06 13:10] #49 closed

[2015-03-06 20:05] torognes commented on #46
We assume this is solved in version 1.2.21.

[2015-03-06 20:05] #46 closed

[2015-03-06 20:11] torognes commented on #48
Good idea. Not difficult to implement and a nice convenience for users.

[2015-03-06 20:12] torognes commented on #42
Implemented in version 2.0.4.

[2015-03-10 16:17] torognes opened #50 "Galaxy wrapper for Swarm"

[2015-03-13 19:21] torognes commented on #48
Implemented in SWARM 2.0.5.

[2015-03-13 19:21] #48 closed

[2015-03-13 19:22] #42 closed

[2015-03-14 13:03] frederic-mahe commented on #50
There is a team in Toulouse (France) that is working on that. They created a Galaxy wrapper for swarm and they should make it available by the end of March 2015.

[2015-03-15 11:25] frederic-mahe opened #51 "Abundance annotation style should be maintained in the output fasta file"
When using the `-w` options (seeds), the abundance annotations in the output fasta file should use the same style than the one used in the input file. If the `-z` option is used, the output fasta file should use the usearch/vsearch abundance annotation style, like the stats file does.

[2015-03-18 16:28] torognes commented on #51
Fixed in 2.0.7.

[2015-03-18 16:28] #51 closed

[2015-03-18 17:26] frederic-mahe commented on #47
Hi @colinbrislawn,

sorry for the late reply.

If I understand correctly, QIIME performs taxonomic assignment on a database pre-clustered at 97%? You are searching for an alternative method to perform the taxonomic assignment. For my own analyses, I use vsearch (`--usearch_global`) against a reference database of sequences trimmed using the same primers than used for the amplicons. That method wor

[2015-03-18 18:12] colinbrislawn commented on #47
Exactly.

The database is pre-clustered using the same percent identity as used when picking OTUs. So OTUs made by swarm need a different approach which captures their variable resolution.

I'm not worried about the size of the database; I'm lucky enough to have access to ludicrous computational power. I think that greengenes and silva both ship unclustered databases which I may be able to drop in

[2015-03-24 22:25] colinbrislawn opened #52 "Improve documentation of Fastidious option"
I'm excited for the release of swarm 2.1.0 and the new options. I have a questions about `-f` fastidious.

The documentation mentioned that it reduces the number of small OTUs and provides a way of defining what is 'small' using `-b`, but I'm interested in learning exactly what this algorithm does.

Original fastidious issue: torognes/swarm#42

[2015-03-25 22:21] torognes commented on #52
In brief, the fastidious option works as follows: Clusters are first formed as usual in the initial phase with d=1 (single mutation). The mass of each cluster is then calculated as the sum of the abundances of all amplicons in the cluster. The clusters are divided into heavy and light clusters. By default heavy clusters are those having a mass of 3 or more (can be adjusted by the -b or --boundary

[2015-03-25 22:28] colinbrislawn commented on #52
Excellent explanation! Thank you @torognes

[2015-03-25 22:28] #52 closed

[2015-03-26 09:50] frederic-mahe commented on #52
Hi @colinbrislawn , I've added a [figure](https://github.com/torognes/swarm#refine-swarm-otus) describing what the fastidious algorithm is doing.

[2015-03-26 15:50] colinbrislawn commented on #52
Oh that figure is perfect! It looks like I asked the question just as you were answering it. Sorry for any confusion.

[2015-03-29 10:06] torognes opened #53 "Minor inconsistencies with fastidious"

[2015-03-29 10:18] frederic-mahe commented on #53
We observed a very small difference (0,00005%) in the number of OTUs obtained on the same dataset by two independent runs. We are investigating and running additional tests to try to identify the source of that unexpected variability.

[2015-03-30 15:33] torognes commented on #53
I've been able to partially reproduce the problem with a much smaller dataset. When the number of bits for each entry in the Bloom filter is reduced substantially the number of graft candidates may go up slightly (but in the case tested the number of grafts did not increase).

[2015-03-31 08:48] torognes commented on #53
It seems like not all sequence variants are generated during the fastidious phase, specifically insertions at the end of the sequence may be missing. This might be the cause.

[2015-03-31 14:03] torognes commented on #53
Fixed in 2.1.1.

[2015-03-31 14:03] #53 closed

[2015-03-31 14:04] torognes commented on #44
Or use https://github.com/RonnySoak/libssa

[2015-03-31 14:05] torognes commented on #12
Or use https://github.com/RonnySoak/libssa

[2015-04-01 08:56] ThomasFort opened #54 "IUPAC nucleotide ambiguity"
Hello,
Many sequences I analyse are not only composed of A, C, G, T or Us. When there is a nucleotide ambiguity, I can also find R, Y, S, W, K, M, M, D, B, H, V and Ns, and swarm return an error.
Are you going to improve swarm in order to take those ambiguities into account ? (I don't even now if it's possible)
Thanks!

[2015-04-01 09:14] frederic-mahe commented on #54
Hi, the short answer is no.

It would require a major rewriting of swarm, as it was designed and optimized to work with only A, C, G, T (or U). My experience with high-throughput sequencing data is that ambiguous nucleotides are extremely rare, and can be discarded without any noticeable impact on downstream analyzes. I am surprised you have a lot of sequences with ambiguous nucleotides. Are you w

[2015-04-01 09:40] ThomasFort commented on #54
OK, thank you for your answer.
No, I'm working on Illumina data. I don't have a large number of those ambiguities, and as qiime, usearch and vsearch support them, I didn't even realize that some were present in my sequences.

I will try to find every ambiguities. If they are rare, I will get rid of the sequences associated and try swarm again. Otherwise I will use the clustering algorithm implemen

[2015-04-01 10:05] frederic-mahe commented on #54
Here is a command to drop sequences containing ambiguous nucleotides:
[code]
assuming your fasta entries are on two lines (one line for the header, one line for the sequence). It is reasonably fast (appr. 3 million sequences per minute on my computer). i hope it will help you prepare your dataset to run swarm.

[2015-04-09 06:32] ThomasFort commented on #54
Thank you, it's working very well!

[2015-04-09 06:32] #54 closed

[2015-04-09 09:58] pbuttigieg commented on #47
Greetings all,
Thanks for posting and discussing this!
It seems the issue has transitioned to a one of taxonomic classification.

I'm also wondering how to best classify a given swarm, but perhaps using a per-swarm representative sequence. The seed sequence can be used, but is there a way to pull out the "central" and/or "extreme" (i.e. the sequences with the greatest number of edges between them)

[2015-04-14 07:36] frederic-mahe commented on #43
Hi @mdehollander,

Yes, my advice is to tag and ultimately remove OTUs identified as chimeras. I will not modify the guide to make contigency tables ([Working with several samples](https://github.com/torognes/swarm/wiki/Working%20with%20several%20samples)) to take chimeras into account. I posted this script as an example of code to build an OTU table, it was not meant to be a comprehensive tool.

[2015-04-14 07:36] #43 closed

[2015-04-16 10:35] frederic-mahe opened #55 "Complete integration of the fastidious option?"
As of now, the results of the fastidious option are reported to the following output files: `--log` (`-l`), `--output-file` (`-o`), and `--seeds` (`-w`). The output file `--statistics-file` (`-s`) is partially updated (columns 6 and 7 are not updated). The output files `--internal-structure` (`-i`), `--mothur` (`-r`), and `--uclust-file` (`-u`) are not updated.

Updating the file `--statistics-fil

[2015-04-20 13:23] robertmueller opened #56 "Clustering with d = 1 and replicates"
Hi,
there seems to be a problem when using swarm with d = 1 on data containing replicates:
swarm (I used version 2.1.1) somehow detects a difference between these exactly matching sequences.

You can check this with the following toy example:

Input FASTA file:
[code]
Using swarm with d = 1 (no other non-I/O-options used) I get the following internal structure output:
[code]
Changing to d = 2 yiel

[2015-04-21 08:16] frederic-mahe commented on #56
Thank you for reporting that issue,

the algorithm used for `d = 1` is different than the one used for `d > 1`. And indeed, the function that creates the `internal-structure` file when `d = 1` does not handle situations where the number of differences is null. We will try to correct that bug soon.

[2015-04-23 17:57] frederic-mahe commented on #47
Hi @colinbrislawn, hi @pbuttigieg,

First, I am very sorry I did not answer your questions earlier (and sorry for the long answer).

To answer @pbuttigieg's question, if you use the `-w` option, swarm will output OTU representatives in fasta format (that's the central sequence). The most extreme sequence of an OTU is always the last to be added. So you just have to select the last sequence of each

[2015-04-30 14:10] torognes commented on #55
The intermediate results are already stored in memory now (for version 2.1 and later). I think the output files in mothur format (-r) are already updated. The uclust files (-u) too. It is only the internal-structure (-i) file and columns 6 and 7 of the statistics file (-s) that are not updated. If not there must a bug.

[2015-05-03 15:20] frederic-mahe commented on #55
You are right, I made a test: the `--mothur` (`-r`) and `--uclust-file` (`-u`) are updated.

So the output of the `--internal-structure` (`-i`) is the only thing that would make sense updating. Ideally, the grafted amplicons should receive a number of differences of 2. The fifth column of the structure file should be equal to `number of steps from seed to amplicon A + 2`. It would also require a s

[2015-06-10 08:27] jenspreem opened #57 "Sequence identifiers format, abundace annotation not found error"
From Swarm manual pdf. v1.2.19 released October 3, 2014
Version 1.2.19 fixes a problem related to abundance information when the sequence iden-
tifier includes multiple underscore characters.

No-where else in manuals or -h printout is anything mentioned that input fasta should have sequence headers conforming to any standard. As I'm inputing a fasta file I will get Error: Abundance annotation not

[2015-06-10 12:36] #57 closed

[2015-06-10 13:54] frederic-mahe commented on #57
Hi @jenspreem. It also works with `;size=` as a sequenceID and abundance value separator (when using the `-z` option).

[2015-06-11 05:43] jenspreem commented on #57
From git readme.
Swarm can perform a dereplication for you (with options |-d 0 -w|),
and from pdf.
When using d = 0, swarm will output results corresponding to a strict
dereplication of the dataset.

So I tried.

swarm -d 0 -t 4 -w derep.fasta mander.trim.fasta

It also produces Error: Abundance annotation not found for 106167
sequences and the derep.fasta is an empty file. What did I do wrong?

O

[2015-06-11 14:16] frederic-mahe commented on #57
Yes, swarm can perform a dereplication, but it still assumes your fasta headers are formatted as described in the documentation (`>ampliconID_INTEGER` or `>ampliconID;size=INTEGER[;]`). Dereplication allows you to merge already-correctly formatted datasets, it is not a command you can use to format a dataset.

I modified the documentation to stress out the importance of abundance annotations.

[2015-06-23 08:30] dmvvliet commented on #47
Hi @frederic-mahe, @torognes,

firstly thanks for developing this tool and for discussing it here. I have used swarm for the clustering of 16S data and have classified the seed sequences with SINA and the Silva database. this seems to work pretty well for me, as swarms tend to stay under 7 generations with d=1 and the fastidious option. I have however some single swarms reaching a maximum generati

[2015-06-24 16:00] frederic-mahe commented on #47
Hi @dmvvliet,

You are right, the structure file is not updated yet. However, I don't think this is important for what you are trying to do.

The fastidious option grafts low abundant amplicons onto more abundant amplicons (so, close to the core of the cluster). Therefore, it should not increase significantly the max radius of a given cluster.  Large radius are most of the time due to "pseudopods"

[2015-07-10 18:59] psathyrella opened #58 "Allow ambiguous bases?"
So I suggest this with some guilt, as implementing ambiguous nucleotides in some of our stuff is a rather fresh and painful memory... but it'd be really cool if `swarm` allowed Ns. I'll have to stick to `vsearch` for the moment otherwise. Is there any chance of getting this?

thanks!

[2015-07-10 21:02] frederic-mahe commented on #58
Hi @psathyrella,

Hum, implementing ambiguous nucleotides would imply a major slow down for swarm.

Maybe there is a workaround. If you work with high-throughput sequencing I think you can only get the following nucleotides A, C, G, T or N (where N means unknown). It would not be absurd to arbitrarily replace Ns with another nucleotides. Normally, sequences with Ns are in minority and swarm should

[2015-07-10 21:39] matsen commented on #58
Thanks for your very speedy response, @frederic-mahe !

I think that a danger of doing what you suggest is that if there are areas that are more likely to have Ns than others, these will lead to false grouping of sequences with those N's. If we replace N's with random nucleotides, we will artificially repel sequences with N's.

Given this, do you think that swarm with this modification would be mo

[2015-07-15 16:18] frederic-mahe commented on #58
Hi @matsen,

You are right, **if** Ns tend to appear in the same regions, there is a risk of artificial grouping/splitting. However, it seems to me that Ns are distributed rather randomly. Additionally, swarm produces high-resolution clustering results (when using `d = 1`), that should counter-balance the false grouping effect you describe (but not an eventual false splitting effect)..

I just tri

[2015-07-15 22:11] colinbrislawn commented on #58
This has been my experience too; N's are vanishingly rare especially after pairing / quality filtering reads. Because of their rarity, excluding sequences with N's is totally fine.

@matsen, where are you finding all these N's anyway?

[2015-07-15 22:18] colinbrislawn commented on #12
Parasail implements SIMD parallelisation, including using AVX2.
https://github.com/jeffdaily/parasail/

It's also very fast
https://github.com/jeffdaily/parasail/blob/2967c065de02fc2dc7e44050b4fc6ecfa064b2dc/performance.md

[2015-07-16 08:32] frederic-mahe commented on #12
Thanks @colinbrislawn, I didn't know about [parasail](https://github.com/jeffdaily/parasail/).

[2015-07-20 15:44] psathyrella commented on #58
Ok, thanks for the thoughts. You're right that we don't see large numbers of inhomogenous Ns in real data, so in practice, I think we can live with replacing with arbitrary bases (we can't exclude sequences with Ns because some of our data sets are small enough that folks have somewhat emotional attachments to individual sequences).

It would still be rad, though, if the long-term plan included N

[2015-07-22 10:22] torognes commented on #12
Parasail looks interesting and flexible. A master student of mine have been working on another solution which I think is generally faster: https://github.com/RonnySoak/libssa
His master thesis will soon be available. We hope to integrate his code in Swarm and VSEARCH.

[2015-07-31 14:10] frederic-mahe commented on #58
I would be difficult to deal with ambiguous nucleotides without dramatically slowing the algorithm. In the long term, one possibility though would be to deal with sequences with Ns before the clustering, during the dereplication step.

Sequences with Ns could be put aside and dealt with once non-ambiguous sequences have been dereplicated. For a given sequence with an ambiguous position, all four p

[2015-07-31 18:06] matsen commented on #58
Thanks, @frederic-mahe, for your thoughtful response.

As far as @psathyrella and I are concerned, you can close this issue.

[2015-08-03 16:16] #58 closed

[2015-08-07 00:35] nhoffman opened #59 "feature request: assume abundance = 1 when missing from sequence names"
Hi -

I'd like to suggest that assuming abundance = 1 when abundance annotation is missing from sequence names would make it much easier to use swarm itself to perform strict dereplication. The readme suggests that "Swarm can perform a dereplication for you (with options -d 0 -w)" - but this isn't exactly true (at least in the way I'd expect), since `swarm -w dereplicated.fasta -d 0 amplicons.fast

[2015-08-10 18:56] torognes commented on #59
Thanks for the suggestion. I think it sounds like a good feature to add. Will consider including it in the next release.

[2015-08-11 03:18] deprekate commented on #59
I just came in to create this exact request.  I spent the last while trying to figure out the "Error: Abundance annotation not found" error. Then figured out I can make it stop if I add the `_1` to the end of each read header.

And yes the `./swarm amplicons.fasta` in the "Quick Start" section, will only work if your fasta file is formatted in the correct format, which is misleading.

[2015-08-11 04:43] colinbrislawn commented on #59
@frederic-mahe
What is the relationship between swarm and vsearch, moving forward? Why duplicate functionality?

I understand that both vsearch and swarm offer competing / complementary / different clustering algorithms. This reflects fundamentally different OTU construction approaches of @frederic-mahe and Robert Edgar (who is not on github).

However, swarm and vsearch also offer identical funct

[2015-08-11 13:01] torognes commented on #59
@colinbrislawn, just a quick note: if you use the -z option in Swarm, it will accept abundance values in usearch format (e.g. fasta headers like this: ">abc;size=123").

[2015-08-11 17:44] colinbrislawn commented on #59
I have used the `-z` option with Swarm because I always use usearch size annotations.

I guess my suggestion is to make Swarm use usearch size annotations on all inputs and outputs, removing confusion between vsearch and Swarm.

[2015-08-11 23:35] deprekate opened #60 "Ability to process fastq files"
It would be helpful if SWARM could process fastq files.  Even if it did not use the quality score information, and still used the raw nucleotides (incorporating quality scores is large undertaking).

[2015-08-12 10:04] frederic-mahe commented on #60
Hi @deprekate,

Here is what I normally do for my own multi-sample analyses:
- assemble paired-ends FASTQ files (pear),
- trim primers from reads (cutadapt),
- remove reads with Ns,
- dereplicate at the sample level (vsearch),
- dereplicate at the study level (i.e. pool samples) (vsearch),
- swarm with d = 1 and the fastidious option

In my own experience, I always have to assemble paired-end read

[2015-08-12 15:17] frederic-mahe commented on #59
Hi @nhoffman, hi @deprekate,

you are right, the documentation is misleading. I've uploaded a new version of the README and I've made a few adjustments to the manpage too. I hope it is clearer now. You probably figure it out, but you can very easily add fake abundance annotations to your fasta headers using the ubiquitous `sed` command:
[code]
(replace `_1` with `;size=1` if you are using the `-z`

[2015-08-12 15:50] frederic-mahe commented on #59
Hi @colinbrislawn,

Swarm predates vsearch. The abundance annotation format we first used in swarm is the same than DNAclust (`_INTEGER`). At the time, it was the best open source solution available for clustering, and it seemed logical to adopt the same format. Meanwhile, usearch became dominant and we added the possibility to use usearch annotations (`;size=INTEGER`).

If you suggest we made the

[2015-08-12 15:54] frederic-mahe commented on #56
That problem is also described in [issue 55](https://github.com/torognes/swarm/issues/55).

[2015-08-12 17:32] nhoffman commented on #59
Hi @frederic-mahe - thanks for the follow up. I agree that it's trivial to modify the sequence names, and the clarification in the docs will help other new users. Using vsearch for dereplication solves the problem in any case.

One parting comment on the format of abundance annotation (not at all a feature request, just my perspective): it appears that the community is fine with modifying sequence

[2015-08-12 21:30] deprekate commented on #59
I would also agree the problems of changing the sequence ID, which can cause lots of problems with pipeline workflows, when a constant ID is needed.  Not to mention provenance. Also the fact that paired end data require /1 /2 to be at the end rather than _X can potentially mess up things downstream.

___________________________
Before I figured out the `sed 's/ /_1 /'` trick, I was thinking I need

[2015-08-12 21:35] deprekate commented on #60
I have amplicon unpaired reads, which are already trimmed, in fastq format.  I just want to remove all technical replicates (allow ~1bp mismatch for sequencing error).

I guess VSEARCH is the tool I want, and not SWARM?
___________________________
And yep, I am using SWARM in a pipeline to replace a sequence assembly step, when users have amplicon reads, instead of shotgun reads.

[2015-08-12 22:05] colinbrislawn commented on #60
@frederic-mahe :clap:

Thank you for developing Swarm according to the linux philosophy of 'do one thing well'

@deprekate
I would recommend converting your fastq files to fasta, then dereplicate with vsearch.
`sed -n '1~4s/^@/>/p;2~4p' sequences.fastq > sequences.fasta`
`vsearch -derep_fulllength sequences.fasta -sizeout -output sequences.derep.fna`
If you are only interested in removing  '~1bp m

[2015-08-12 23:09] nhoffman opened #61 "dereplicating pooled specimens"
Hello,

I'm wondering if there is a recommended approach for dereplication and clustering of reads in pooled specimens. Here's the specific problem I'm trying to address (forgive me for the extremely long comment, but it takes a bit of work to fully specify the problem). Before dereplication/clustering, mapping of reads to specimens is trivial: consider a minimal case of two specimens (S1, S2), ea

[2015-08-12 23:34] colinbrislawn commented on #61
Hello Noah,

I have a straightforward way, but you might not like it:
Map your original reads to your final OTU centroids using vsearch.

`vsearch -usearch_global input_seqs.fna -db rep_set.fna -strand plus -id 0.97 -uc otu_table.map.uc`
Then parse your .uc output into a abundance table.

In my method, R6 would get matched to S1, and the final abundance of S1 (and its abundance in each sample) can

[2015-08-13 05:35] nhoffman commented on #61
Hi Colin - thanks for the information, but you're right, I'm not crazy about this approach. Seems like this is a problem most cleanly solved with some careful annotation and bookkeeping, since all of the information is readily available in intermediate files.

[2015-08-13 08:52] frederic-mahe commented on #60
Thanks @colinbrislawn,

indeed the next command is:
[code]
to clusterize using `;size=` abundance pattern and to collect representative sequences in fasta format (hence using swarm as a denoising method).

[2015-08-13 08:55] frederic-mahe commented on #60
I am going to close that issue. Feel free to re-open it if need be.

[2015-08-13 08:55] #60 closed

[2015-08-13 09:44] frederic-mahe commented on #59
Hi @deprekate, thanks for your suggestion.
[code]
I think it is an interesting solution (good for advanced users, and no hidden behavior for newbies). What do you think @torognes? The value would have to be a positive integer (maybe limited to a `long int`).

Here is an approach I often use and for which that new option would be useful. I often pool environmental sequences with reference sequences

[2015-08-13 15:01] colinbrislawn commented on #61
Hello hoffman,

I want to reiterate that approach was designed for clustering methods with a fixed similarity threshold, and that it's not an appropriate method for Swarm. (I believe it **is** a good solution for vsearch / usearch.)

Keep in mind that @frederic-mahe does show how to [build an abundance table from Swarm results](https://github.com/torognes/swarm/wiki/Working%20with%20several%20samp

[2015-08-13 15:09] colinbrislawn commented on #59
@frederic-mahe

Interesting! Using Swarm for 'open-reference' OTU clustering. The qiime devs will love this!

[2015-08-14 10:33] frederic-mahe commented on #59
Hi @torognes, maybe we could make this error message more informative for users?
[code]
Maybe we could add the following sentences?
[code]
Please feel free to improve wording.

[2015-08-14 10:36] frederic-mahe opened #62 "Compilation warning with gcc 4.9"
When compiling with the new GCC:

[code]

It concerns that function:
[code]

[2015-08-17 16:40] colinbrislawn commented on #59
@frederic-mahe

I think your wording is excellent!

Fasta headers must end with abundance annotations (_INT or ;size=INT)
Abundance annotations can be produced by dereplicating the sequences

Alternatively, you could have swarm throw this error the first time it encounter a read without size annotations.

Fasta headers must end with abundance annotations (_INT or ;size=INT)
Abundance annotations c

[2015-08-20 13:59] torognes commented on #56
You are right. Swarm currently assumes that the input is already dereplicated, at least when d=1. If this is not true the results may be incorrect. Will fix this in next version. May need to always perform a dereplication step before any other processing.

[2015-08-21 12:28] torognes commented on #62
This issue should be fixed in the swarm version 2.1.2.

[2015-08-21 12:30] torognes commented on #59
This issue should be fixed in the swarm version 2.1.2. I have added the -a/--append-abundances optio as suggested. Automatic detection of abundance format (_INT or ;size=INT) is not performed. If an abundance value is missing an improved error message is now shown indicating the number of sequences missing abundance information as well as the line number of the first instance.

[2015-08-21 22:11] deprekate commented on #59
Great.  Works well with the `-a` option.   One question though, if I use the `-a 1` flag, but a sequence id happens to have an underscore and then digits before the whitespace, will the underscore and digits take precedence over the `-a 1`?
__________________________________________________
as an example in one of my test files the sequences look like:
[code]
If by chance the colons were all under

[2015-08-24 13:10] torognes commented on #59
Yes, if there is an underscore and some digits at the end of the header, those digits will be used. However, in this case, if you specified the `-z` option (for usearch style abundance annotation), no annotation would be found and the value specified with the `-a` option should be used.

[2015-08-24 17:19] nhoffman commented on #59
Thanks for being so responsive to this request! I like the solution that you settled on.

[2015-08-24 17:29] nhoffman commented on #61
Hi @colinbrislawn - looks like I should have read the README more carefully! This question is indeed directly addressed right there. Ultimately I will need the representation of the data that I described above for my pplacer classification pipeline. When I implement a script that produces it, I'll post a link here in case anyone else is planning on combining these tools.

@torognes - I suppose thi

[2015-08-25 12:59] torognes commented on #61
OK, thanks.

[2015-08-25 12:59] #61 closed

[2015-08-25 12:59] torognes commented on #59
Thanks

[2015-08-25 12:59] #59 closed

[2015-08-25 13:05] torognes commented on #56
I wonder if we should always initially perform an exact dereplication on the sequence before further processing. Even though this specified as a requirement for the input, it seems that it is sometimes forgotten. Dereplication is very fast anyway. We do already perform a similar check on the headers/id's of sequences. What do you think @frederic-mahe ?

[2015-08-27 22:57] nhoffman commented on #59
A minor suggestion: -a/--append-abundance should fail with an error message if not provided an argument. The current behavior (for users not paying attention like myself!) is to silently consume the other arguments (eg, swarm -a -w somefile.fasta uses somefile.fasta as the input file).

[2015-08-28 08:35] torognes commented on #59
Thanks for the suggestion! Good idea. Checks of all numeric option arguments have now been added. A fatal error will occur if a numeric argument is missing.

[2015-08-28 08:36] #62 closed

[2015-09-03 14:48] frederic-mahe opened #63 "Potential problem reported by cppcheck"
[cppcheck](http://cppcheck.sourceforge.net/) reports the following error in `algod1.cc` when analyzing swarm's source code:
[code]

[code]
cppcheck is an interesting tool to add to our development pipeline. I can also report warnings or portability problems:
[code]

[2015-09-04 08:04] torognes commented on #63
Thanks, this is an error. Will fix.

[2015-09-04 15:31] torognes commented on #63
That error would cause swarm to ignore out of memory problems in some rare cases. Should not be a serious problem. However, when run with the "enable=all" option I found another more serious problem on line 618 of algod1.cc which could cause sorting of grafted small clusters (when using fastidious) to be wrong. Might lead to some instability.

[2015-09-04 15:31] torognes commented on #63
Fixed in 1.2.4.

[2015-09-04 15:31] #63 closed

[2015-09-10 22:01] nhoffman opened #64 "digits transposed in file name of 2.1.5 binary"
see https://github.com/torognes/swarm/releases - eg, https://github.com/torognes/swarm/releases/download/v2.1.5/swarm-1.2.5-linux-x86_64

Not a big deal, just a bit confusing!

[2015-09-10 22:14] torognes commented on #64
Thanks for reporting this error. Sorry for the confusion! Fixed the names of the binaries now. The version numbers in the latest commits are also wrong, but I cannot do much about it. Added a comment about it though.

[2015-09-10 22:14] #64 closed

[2015-09-19 07:45] frederic-mahe commented on #50
The pipeline has been released Yesterday. It is named [FROGS](https://github.com/geraldinepascal/FROGS), and it is a [Galaxy](https://galaxyproject.org/)/CLI workflow designed to produce an OTU count matrix from high depth sequencing amplicon data. FROGS relies on swarm for the clustering phase.

[2015-09-19 07:45] #50 closed

[2015-09-23 12:32] torognes opened #65 "Check that all input sequences are unique"
Complain if dereplication has not been performed.

[2015-10-21 14:03] vmikk opened #66 "Amplicon length truncation"
Hello!
Is it necessary to truncate amplicons to the common length to delineate OTUs with SWARM?
If so, how do you find a compromise between the truncation length and the number of remaining reads?

[2015-10-21 16:58] colinbrislawn commented on #66
May I ask what sequencing technology was used to generate these reads? Because different sequencing technologies have different error profiles, the trade off between length and quality is different.

[2015-10-21 17:37] vmikk commented on #66
**@colinbrislawn** Reads were generated with Illumina MiSeq. After trimming of adaptors and primers, and quality filtration their length distribution is relatively wide: from 100 (single end reads) to 500 bp (for the assembled paired ends).

[2015-10-21 19:18] colinbrislawn commented on #66
What region did you amplify and how many base pairs are in it?
It sounds like you use a paired end MiSeq kit... is this a 250, 500, or 600 cycle kit?

The reason I ask it that combination of region I sequence and kit that I use produce enough overlap to pair the forward and reverse read. This increases quality in the area of overlap, and produces reads of highly consistent length yielding truncati

[2015-10-22 07:16] vmikk commented on #66
I’m sorry, I should be more specific. We sequenced amplicons of SSU rRNA of micro-eukaryotes with MiSeq (2x300). Expected amplicon length is 550 bp. Unfortunately, only 7% of sequences can be assembled from the paired-end reads (median length – 385, upper quartile – 450). For the rest of the data there is not enough overlap.
However it is possible to analyse only a part of amplicon. So the questio

[2015-10-22 08:34] frederic-mahe commented on #66
Hi @vmikk,

swarm does not require reads to be of the same length. However, you will obtain better results if your reads are **homologous**, i.e. covering the same region contained between a forward and a reverse primer. That homologous region can vary in length from one taxonomic clade to another, swarm doesn't care.

Now, if your reads do not reach your reverse primer, you can choose to truncate

[2015-10-22 09:01] frederic-mahe commented on #66
Or if we will work only with forward reads (unpaired reads that cover only partial amplicons, their lengths vary due to quality trimming) – should we adjust them to the common length (say, remove reads smaller than 150, and truncate the remaining reads to the length of 150)?

You should not delineate OTUs using a mix of assembled and unassembled reads.

Once, I had to work on a similar dataset. I

[2015-10-22 12:38] vmikk commented on #66
Hello **@frederic-mahe**,
Thank you for the comprehensive answer! It's clear for me, now.
And it is an interesting idea to build artificial R1-R2 reads. Maybe I'll give it a try.

[2015-10-22 20:43] nhoffman opened #67 "output of -w and -o are not consistent when run with -d 2"
Hi,

It appears that the output of -w/seeds and -o/--output-file are not consistent with one another when I run swarm with -d 2:

d0.fasta is a file containing dereplicated reads.

[code]

So far, so good - we see that the seed sequence with the highest abundance (H7CGFRN01AMXNS) appears on the first line of each file, and the total abundance indicated for the first read of d1.fasta looks like the

[2015-10-23 12:22] frederic-mahe commented on #67
Hi @nhoffman,

the problem is that `-w` output is not sorted by decreasing abundance. What you observe with `-d 2` can also occur with `-d 1` if you use another dataset. In my own pipeline, I've added a sorting step on the `-w` output with `vsearch`. I did not imagine someone else would need that file to be sorted.

Is it a correct interpretation of your bug report?

[2015-10-23 14:11] nhoffman commented on #67
Hi @frederic-mahe,

Yes, this is a correct interpretation, and I certainly should have noticed that this is just a matter of sort order! I have a script that steps through the pair of files and processes each seed sequence along with the corresponding list of read names comprising the cluster. For what it's worth, the outputs of -o and -w  are consistently in the same order with -d 1 (at least for

[2015-10-23 14:39] frederic-mahe commented on #67
Maybe we can add that as an enhancement:

sort OTU representatives by decreasing abundance (and by other features to stabilize sorting), or put them in the same order than in the swarm output file and stats output file.

[2015-10-23 23:59] nhoffman commented on #67
Yes - even if the sort order is arbitrary, it would be useful for it to be the same among the various outputs.  Thanks for considering this!

[2015-10-26 09:05] torognes commented on #67
Thanks for the suggestion. I will add this in the next version.

[2015-10-26 09:05] #66 closed

[2015-10-26 09:07] torognes commented on #56
I'll add a check that all input sequences are unique (that they have been dereplicated) in the next version. See issue #65.

[2015-10-26 09:08] #56 closed

[2015-12-03 15:14] nikosdarzentas opened #68 "control number of generations, for the iterative growth process"
I would suggest an option to control the maximum number of generations for growth. The idea of this process being guided by the data themselves and assisted by the breaking phase is definitely great, but there are cases where the 'branches' become too long and the intra-cluster variability is too large.

I actually ended up using the internal structure output to do what I wanted - still very usefu

[2015-12-04 14:30] frederic-mahe commented on #68
Dear @nikosdarzentas,

I understand you're request. Swarm can report clusters with many generations (I have examples with 50+ generations). High number of generations suggest that the amplicons at the end of these long branches are very distant from the cluster seed. When you actually do the pairwise comparison, you observe that the distances are usually far less important. The branches are not li

[2015-12-07 19:54] nikosdarzentas commented on #68
Thank you for your comprehensive reply @frederic-mahe - I appreciate your time.

Our current main interest is rearranged antigen receptors of adaptive immunity, e.g. immunoglobulins, and most of the time most we're focusing on the most informative junction of such rearrangements, the CDR3. These junctions are just tens of nucleotides, and a handful of nucleotide differences in specific places can

[2015-12-11 19:16] colinbrislawn opened #69 "compiling swarm on osx 1.8.5"
When building swarm from source, I receive this error. This is an older mac, so it could also be a hardware limitation.

[code]

[2015-12-12 08:57] frederic-mahe commented on #69
Hi @colinbrislawn,

it could be a problem with the compiler. A similar issue was reported for vsearch ([issue 146](https://github.com/torognes/vsearch/issues/146)). I think @torognes found a solution.

Thanks for reporting that issue.

[2015-12-14 09:36] torognes commented on #67
I am looking into this now, and it seems to be a bug. When using d>1, the seed id shown is the id of the last/smallest amplicon in the cluster, not the first/largest. Will fix very soon.

[2015-12-14 10:04] torognes commented on #69
This problem should be fixed in version 2.1.6.

[2015-12-14 10:04] #69 closed

[2015-12-14 10:06] torognes commented on #67
Thanks again for reporting this problem that appeared to be a real bug. Problem fixed in Swarm version 2.1.6.

[2015-12-14 10:06] #67 closed

[2015-12-14 13:29] frederic-mahe commented on #67
Hi everyone,

Sorry for not catching that bug earlier. Most of the time, I use `d = 1` and I did not spend enough time checking the results of `d > 1 runs`. I will try to write short scripts to test bugs like this, to prevent regressions in future versions of swarm. The script below checks if the list of fasta representatives and the list of swarm seeds contain exactly the same elements. The scrip

[2016-02-08 20:34] jpearl01 opened #70 ";size=INT not being accepted"
Hello,
I was just trying to run swarm on a dataset that I've previously dereplicated, the headers look like so:
`>m150110_000356_42168_c100739892550000001823144606051581_s1_p0/46661/ccs;barcodelabel=10_1_H_3119;ee=0.42;size=53`
however, when I run the swarm command:
`swarm -f -t 15 -w OTU_representatives.fasta all_ee1_oriented_filtered_derep_sorted.fasta --statistics-file swarm_stats > /dev/null`

[2016-02-08 21:42] frederic-mahe commented on #70
Dear @jpearl01,

swarm does not recognize `;size=INT` annotations by default (maybe we will change that in swarm 3.0). You have to use the `-z` option.

Let me know if it doesn't work or if you encounter other issues.

[2016-02-09 17:05] jpearl01 commented on #70
Wonderful, thanks!  Appears to be running without problems now.

[2016-02-09 17:05] #70 closed

[2016-02-17 05:37] nidlae opened #71 "Make use of base quality score - Fastq support"
Hi,

thanks a lot for this software. The concept is very convincing to me.

I just like to ask, why the base quality score is not used during the clustering and de-replication process?
Is it not possible because of the algorithm or does it slow down the clustering process.
What about to incorporate the phred score after the OTUs are finished e.g. as a consensus quality score?

Thanks.

[2016-02-17 16:32] frederic-mahe commented on #71
Hi @nidlae,

I am preparing a general answer to that question, but the manuscript is not ready yet. In short, swarm is not a denoising tool.

In my opinion, clustering should be a lossless process (same number of sequences in and out). Quality filtering was a mean to reduce the size of datasets before clustering to speed-up computation. Since swarm is faster, that's not a valid way to process anym

[2016-02-17 19:31] colinbrislawn commented on #71
Thank you for taking the time to discuss your methods. Your perspective is
fascinating.

How do you build your OTU table in such a way that it includes all that
additional information about your swarm centroids? I know you describe this
in the wiki and I would love to hear how you include more info.

Colin

On Wed, Feb 17, 2016, 8:32 AM Frédéric Mahé <notifications@github.com>
wrote:

[2016-02-18 05:35] nidlae commented on #71
Hi @frederic-mahe

yes, this answer my question beyond of what I have hoped for. I'm looking forward for the finished manuscript.
I share your opinion of a lossless process. Filtering of OTUs should be the last step.

I use amplicon sequencing to genotype samples with multi-clone infections, so the final filtering step is very crucial to determine the correct multiplicity of infection in a sample.

[2016-02-19 21:33] ZeweiSong opened #72 "Strip chr(13) from input fasta files"
I got this message when trying the example FASTA file:

./swarm -t 4 -f -w myfile.fasta test.fasta myfile.swarm
Swarm 2.1.6 [Dec 14 2015 10:59:14]
Copyright (C) 2012-2015 Torbjorn Rognes and Frederic Mahe
https://github.com/torognes/swarm

Please cite: Mahe F, Rognes T, Quince C, de Vargas C, Dunthorn M (2014)
Swarm: robust and fast clustering method for amplicon-based studies.
PeerJ 2:e593 https:

[2016-02-19 21:46] torognes commented on #72
You need to have a ">" character in the beginning of each header line in the [FASTA](https://en.wikipedia.org/wiki/FASTA_format) files.

The size annotation must be at the end of the header line. If you use the usearch-style abundance format (header lines ending with ";size=123;") you need to specifiy the "-z" option to Swarm. If you use the native abundance format (header lines ending with "_123"

[2016-02-19 21:49] ZeweiSong commented on #72
I did have the ">", GitHub treat > as comment that is why you can not see it. I've pasted it as code here.

[code]

[2016-02-19 22:03] torognes commented on #72
Based on the error message you got there is probably some kind of illegal character in your input file. Try copying and pasting again (use paste text only or similar), perhaps from the text above. Based on the strange appearance of the error message it might be a stray carriage return character (ascii 13).

Also, you need to specify the "-o" option before the final file name on the command line if

[2016-02-19 22:27] ZeweiSong commented on #72
Thanks, I did fix it by pasting to a new file. Do you mean I have \r in my file?

[2016-02-19 22:31] torognes commented on #72
Yes, it appears so based on the strange error message (' in sequence on line 2ror: Illegal character ').

It should probably be like this: "Error: Illegal character '\r' in sequence on line 2."

[2016-02-24 13:02] torognes commented on #72
It seems like this problem is caused by files that have characters with ascii code 13 (CR, ^M) at the end of the lines. This is typical of files from DOS/Windows. These characters should be stripped. I'll reopen the issue.

[2016-02-24 13:38] frederic-mahe opened #73 "Return status should be 0 after -h and -v"
According to [GNU standards](https://www.gnu.org/prep/standards/standards.html#g_t_002d_002dhelp), return status should be `0` (i.e. successful) after `-h` (and also `-v` I assume):
[code]

[2016-02-24 18:10] torognes commented on #73
Fixed in 2.1.7

[2016-02-24 18:10] #73 closed

[2016-02-24 18:11] torognes commented on #72
This problem has been fixed in the new version 2.1.7. Thanks for reporting the problem.

[2016-02-24 18:11] #72 closed

[2016-02-25 09:30] torognes commented on #67
@nhoffman I am sorry but this problem was not properly fixed in version 2.1.6 from December. Only the id of the seed was corrected then, the actual sequence was still wrong. This problem was fixed yesterday in version 2.1.7. This bug only appears when d>1. Thanks again for pointing out the problem. I hope it has not caused major problems.

[2016-02-25 21:42] nhoffman commented on #67
@torognes Thanks for letting me know. No problems on my end - I always use `d = 1` myself.

[2016-02-26 01:16] nhoffman commented on #61
Hello @torognes - just in case any pplacer users find their way to this thread, I thought I'd post a link to the script I wound up writing to use swarm along with pplacer: https://github.com/nhoffman/swarmwrapper

It became somewhat more elaborate than I planned, but it does succeed in greatly simplifying my pipeline code by reducing multiple steps that are typically performed (removing sequences

[2016-02-26 01:56] colinbrislawn commented on #61
This is super cool! I qiime does something similar with a much older version of swarm, so I'm glad you got this working with the current version.

Thanks for posting this. If I have questions about your method, can I ask you?

[2016-02-26 02:44] nhoffman commented on #61
@colinbrislawn - of course! I'd be grateful for any comments or suggestions.

[2016-02-26 09:23] torognes commented on #61
@nhoffman Great! Nice to see that Swarm can be useful for many users.

[2016-03-08 13:07] tobiasgf commented on #71
I really like this approach about doing most (all) of the filtering as final steps.
However I a wondering about how to keep the  "..chimeric status, and quality values..." all the way to the OTU table. In other words how can you keep the ee-score (or ee/seq_length) of the best scoring read in an OTU through derepclication and swarm-clustering.
Do you get that when you map back the "original reads"

[2016-03-08 16:24] frederic-mahe opened #74 "bug when using several threads"
Richard Christen reported a segmentation fault on a big dataset. While investigating it, I found the following bug:
[code]
[code]
Results should be 2 OTUs for any `-t` value, but for `-t 6` and greater, swarm returns 3 OTUs.

[2016-03-08 16:28] frederic-mahe opened #75 "Remove pairwise alignment settings from when using d =1"
When running swarm, the pairwise alignment settings are printed. That could be misleading for users, as `d = 1` does not perform pairwise alignments.
[code]
Ideally, these lines should not appear when using `d = 1`.

[2016-03-08 16:47] frederic-mahe commented on #74
Changing the test file to:
[code]
yields 6 OTUs instead of 3 when `-t` is greater than 5 (on my 2-core laptop and on a 16-core node).

[2016-03-10 14:41] torognes commented on #74
I am looking into the problem now. On my Mac I get exactly the same results as you do. Not good.

[2016-03-10 15:43] torognes commented on #74
I have found the source of the bug and a solution. It affects only cases where the input sequences have not been properly dereplicated, i.e. when there are two or more identical copies of some of the sequences in the input. It also only appears when the sequences (or any microvariants) are shorter than the number of threads-1. This applies to both of the examples. I'll fix and release a new versio

[2016-03-10 16:12] frederic-mahe commented on #74
Pfffew! So that's a very input-specific bug. What a relief!

The bug-fix release description should be something like that: "version 2.1.8 fixes a rare bug triggered when clustering extremely short undereplicated sequences."

[2016-03-11 09:35] frederic-mahe commented on #71
I'll try to describe a complete pipeline (from raw fastq to OTU table). I found an ITS1 experiment suitable (i.e. not too complicated), that I will describe on a github wiki page. I'll post the link here when it will be ready.

Please be patient, I am completely swamped by other projects.

[2016-03-11 15:21] torognes commented on #74
Fixed in 2.1.8.

[2016-03-11 15:21] #74 closed

[2016-03-11 15:21] torognes commented on #75
Fixed in 2.1.8.

[2016-03-11 15:21] #75 closed

[2016-04-30 17:43] frederic-mahe commented on #71
[That page](https://github.com/frederic-mahe/swarm/wiki/Fred's-metabarcoding-pipeline) describes my OTU delineation pipeline and my strategy to preserve and use read quality values.

I hope it answers @nidlae's question.

[2016-04-30 17:43] #71 closed

[2016-04-30 18:02] frederic-mahe opened #76 "Control the range of `d` values"
The `-d` option controls the local clustering threshold used by swarm, `-d 1` by default. The documentation says:

As of now, zero or **any** positive integer value can be used (8,000,000 for instance). Using large `d` values doesn't really make sense though, as pairwise alignment results become less and less reliable when the number of differences increases. Therefore, we should only accept `d` v

[2016-05-02 02:28] nidlae commented on #71
Thanks a lot @frederic-mahe <https://github.com/frederic-mahe>. Yes this helps a lot.

[2016-05-02 08:49] torognes opened #77 "Sanitize input options"
Check option values in more detail for valid ranges. Check illegal or nonsense combinations. Give good warning or error messages.

[2016-05-04 11:38] torognes opened #78 "In rare cases Swarm does not terminate properly"
Under certain rare circumstances it seems like Swarm does not terminate properly even though clustering is finished. It seems to wait/sleep forever for some reason. It is possibly related to glitches in the termination of processing threads. The problem is elusive and difficult to reproduce.

[2016-05-21 08:27] frederic-mahe commented on #10
That checking is not active anymore, it seems. The command below should return an error, and it does not:
[code]

[2016-05-21 08:44] frederic-mahe opened #79 "Segmentation fault on empty sequences"
Continuing my work to build a test suite for swarm, I encountered a segmentation fault:

[code]

It is similar to the [issue 171](https://github.com/torognes/vsearch/issues/171) in vsearch.

I don't know how we should deal with empty sequences. Error message and exit? Or should we accept an empty sequence? The easiest and safest way is probably to exit with an error message.

[2016-05-22 14:36] frederic-mahe opened #80 "Residual variability in swarm clustering results"
@fescudie reported a (small) variability in swarm clustering results when the input order is modified. That variability comes from situations where a rare amplicon can be captured by two more abundant amplicons. The clustering process being sequential (and binary), the rare amplicon can be assigned to only one of the more abundant amplicon, which creates a slight asymmetry. That can be summarized

[2016-05-24 10:03] davidvilanova opened #81 "Pacbio reads"
Is swarm suitable for long pacbio reads ?

thanks,

[2016-05-24 11:23] frederic-mahe commented on #81
Hi @davidmartinad200,

Because of pacbio's high-error rate and low-sequencing depth, swarm might not be the ideal tool. To confirm that, I would need to work on pacbio amplicon data (I never had the opportunity).

[2016-05-24 13:11] davidmartinad200 commented on #81
I´m working with 16S data. Error rate is being reduced by generated consensus sequences from Pacbio reads with at least 9 full passes and by having full length databases. Sequencing depth is not a problem because even if you get less reads they are longer and cover high regions where you would need much  more small reads to cover, so that´s not really a problem. (see paper https://peerj.com/articl

[2016-05-24 15:18] frederic-mahe commented on #81
Hi @davidmartinad200,

that sounds very interesting. The multi-pass approach to reduce overall error rates is great. My concern with sequencing depth is that swarm works better if you have a lot of sequences. "True" sequences and their clouds of micro-variants constitute a landscape where the altitude corresponds to the frequence (i.e. the copy number) of each sequence. To get copy-number, you nee

[2016-05-25 10:24] davidmartinad200 commented on #81
Yes, as i said we have tested with 16s data from a synthetic mock and swarm has performed well, we have recovered our expected species. Our amplicons were in between 1000 and 1600bp long.
david

[2016-06-29 10:04] torognes opened #82 "Change output sequences to upper case"
A user reported an annoyance with Swarm outputting symbols in lower case letters, as it was incompatible with `usearch -utax`. I guess it is the seeds file that is being used. USEARCH generally uses lower case letters to indicate masked symbols. We should consider changing the symbols to upper case or leave them as they were in the input.

[2016-07-03 13:40] frederic-mahe opened #83 "Avoid producing microvariants if there is no amplicon of that length [dead end]"
The amplicon-space is made of layers of increasingly longer amplicons. When producing microvariants for an amplicon of length _L_, a majority of them will have a length of _L+1_ or _L-1_. However, if there are no amplicon of that length remaining in the pool, it is useless to produce the microvariants.

That optimization requires to store the length distribution of the amplicons remaining in the p

[2016-07-03 17:13] frederic-mahe commented on #7
Hi @torognes , hi @lczech,

I was uncertain that working with compressed sequences could be done, because I could not see how to differentiate padded bytes from shorter or longer sequences. Let me explain.

Let A = 00, C = 01, G = 10 and T = 11. Inside a byte, we can now store 4 nucleotides. And inside a machine word, we can now store 32 nucleotides (on a 64-bit architecture). But, what if the seq

[2016-07-04 12:47] lczech commented on #7
Hi all,

the padding is no issue for storing or comparing sequences, but needs to be kept in mind for hashing them. Storage inside a class encapsulates the details, so that the outside world only sees normal vector/array methods anyway.

@frederic-mahe already mentioned that for hashing, the size of the sequence can be used. My prototype simply calculates `xor` of the size with all 64bit words. Of

[2016-07-04 17:20] frederic-mahe opened #84 "Compilation with GCC 6 fails"
GCC 6 has new warnings, including `-Wmisleading-indentation`.
[code]
[code]

While reading about user-defined literals, I found that [Debian packagers spotted the same problem](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=811893).

GNU.org has a page on [porting to GCC 6](https://gcc.gnu.org/gcc-6/porting_to.html):

[2016-07-04 23:18] lczech commented on #7
Okay, I did some testing on the hash issue.

One thing that I did not mention above is a repetition of hash values for certain substitutions. For example, the substitution of an `A` by a `G` in position 0 and in position 32 both gives the same hash, assuming that both are an `A` in the first place. If they are not, it could be `G` substituted by `T` in position 0, and `A` substituted by `C` in pos

[2016-07-05 09:25] torognes commented on #7
Including the length when performing the hashing should separate the sequences as @frederic-mahe mentioned, so padding the sequences is no problem. The hash function suggested by @lczech looks fast and simple. There are also some other alternatives that could be considered. I do not think that it is a problem if substituting nucleotides in position 0 and 32 gives the same hash value. It is more im

[2016-07-05 11:45] frederic-mahe commented on #83
@torognes, I just wanted you to read that, so we all know it is a dead end. I am going to close the issue now.

[2016-07-05 11:45] #83 closed

[2016-07-05 11:48] torognes commented on #83
It is an interesting idea, but as you write the gains will probably rather small. As you have just described there are other possibilities (storing and hashing nucleotides as 2 bit values) that potentially can offer substantial improvements.

[2016-07-05 13:25] torognes commented on #84
I'll fix this and recompile with GCC 6 shortly.

[2016-07-05 13:28] frederic-mahe commented on #82
I agree, output should be in upper case.

When I use `vsearch` to dereplicate a set of amplicons, I use `--relabel_sha1` which converts the sequence to upper case before the digest is computed. So, in my case, swarm receives upper case and outputs lower case sequences (not-matching their digests anymore).

[2016-07-05 13:38] frederic-mahe commented on #82
Maybe that change should be published as `swarm 2.2.0` as it may break some user pipelines? It is possible that someone relies on the fact that swarm always output lowercase. If we change the minor version number, the changelog is more likely to be read.

[2016-09-06 08:16] frederic-mahe opened #85 "Function fatal() declared twice"
I was checking the return status if SSE2 is not available and I noticed that the `fatal()` function is defined twice in `util.cc`:
[code]

[2016-09-06 09:05] frederic-mahe commented on #85
That's the same thing in vsearch. Maybe that's a normal thing?

[2016-09-06 09:10] torognes commented on #85
Yes, it is perfectly ok. They are two different functions with the same name, but different number of arguments. The correct function is selected based on the number and types of arguments.

[2016-09-06 09:11] frederic-mahe commented on #85
Thanks, I didn't know this was possible.

[2016-09-06 09:11] #85 closed

[2016-09-06 09:16] frederic-mahe opened #86 "Add support for unseekable pipes"
Like vsearch, swarm would benefit from a broader support of pipes and stdin/stdout redirections. As of now:

[code]

produces an empty `output.swarms` and write OTUs to a file named `-`.

[2016-09-08 06:51] davidvilanova opened #87 "Speed ??"
Hello,
I have a dataset with 230 Millions amplicons (average size 160nt). I´m using d=3 option with 10 threads. Do you have an estimation of the time required ??
What about d=1 time ?

Thanks,

[2016-09-08 10:02] frederic-mahe commented on #87
Hi David,

do you have 230 million unique sequences in your dataset? or do you have x million sequences representing 230 million amplicons?

With `d > 1`, I don't have precise benchmarks, but that will probably take a while (several weeks?). We found a way to make d > 1 ten times faster, but we still have to implement that solution. And even with that, swarm or any other clustering solution for th

[2016-09-08 13:12] davidmartinad200 commented on #87
230 million séquences after vsearch dereplication. It s a hiseq 2x90bp  16S experiment. Not properly designed SO i get too many amplicons, 4 million per sample even after data filtering.... Thinking of subsetting the dataset
Thanks for the info

[2016-09-08 13:31] frederic-mahe commented on #87
The largest dataset I've dealt with contains 315 million unique sequences. It took 7-9 hours to clusterize it with swarm `-d 1 -f`. So, swarm should be able to deal with your dataset without subsetting.

Up to you.

PS: if the fastidious option requires too much memory, don't forget you can use the `--ceiling` option.

[2016-09-15 23:59] ranocchia4 opened #88 "average pairwise distances of each OTU"
Hello Frederic,

I am using swarm to cluster my sequences, but I would like to know the min, max and average pairwise distances between the different amplicons within each OTU. Does swarm produce this kind of information in one of the output files?
Thank you very much for your help,
Francesca

[2016-09-16 09:17] frederic-mahe commented on #88
Hi @ranocchia4 ,

this is not a statistics that swarm can output directly, precisely because swarm is very different from other clustering methods. For a given OTU, other methods systematically compute the distance of all amplicons to the OTU seed. Swarm outputs a different information: a minimum spanning tree, which is a collection of uninterrupted paths of amplicons separated by very short links

[2016-09-16 16:09] ranocchia4 commented on #88
Thank you so much for your answer Frederic.

I will try your script, hopefully I will get it to work.

Francesca

From: Frédéric Mahé <notifications@github.com>
Reply-To: torognes/swarm <reply@reply.github.com>
Date: Friday, September 16, 2016 at 2:17 AM
To: torognes/swarm <swarm@noreply.github.com>
Cc: ranocchia4 <fdemarti@asu.edu>, Mention <mention@noreply.github.com>
Subject: Re: [torognes/swar

[2016-10-13 04:33] olar785 commented on #43
Hi,
I would be very keen to use swarm clustering algorithm and just as colinbrislawn I am using vsearch to look for chimeras. My sequences are all about 450bp long but when after swarm clustering and using the command you proposed above:

grep -A 1 -F -f <(cut -d " " -f 1 data.swarms) data.fasta | sed -e '/^--$/d' > data_representatives.fasta

I end up with "OTUs" of 80bp. Any idea why this is hap

[2016-10-13 06:47] tobiasgf commented on #43
Maybe you need to linearize your sequences first, so that there are no line breaks in the sequences? (see the "Swarm front page" here for an "awk" command doing that.)

[2016-10-13 08:16] olar785 commented on #43
Thanks tobiasgf, it did the trick. I thought my sequences were linearised already as they all seemed to be on one line but apparently not...thanks again!

[2016-10-17 16:17] frederic-mahe opened #89 "Develop a swarm-plugin for Qiime 2"
[Qiime 2](http://2.qiime.org/) now offers an interface for third-party plugins. The [plugin creation](http://2.qiime.org/docs/Creating-a-QIIME-2-plugin.html) does not seem complicated: the plugin is a python 3 wrapper presenting some or all the functionalities of swarm.

[2016-10-19 10:48] torognes commented on #89
Sounds like a good idea!

[2016-11-07 15:24] frederic-mahe commented on #7
Additional question we can address later: is sequence compression useful for `d > 1`? Encoding nucleotides on two-bits is beneficial for `d = 1`, but is it feasible and beneficial for `d > 1`?

[2016-11-23 13:28] frederic-mahe commented on #65
Now that we have `d = 0`, maybe a simple warning should be enough:
[code]

[2016-11-25 11:04] a1an77 opened #90 "Abundance annotation not recognised"
Hi,
when using the following header I get an error stating " Abundance annotations not found...".

\>AB022186.1.610 Archaea...Methanosphaera;Methanosphaera sp. R6_400

There seem to be an issue in the recognition of it, even though it ends with an abundance annotation of 400

Swarm 2.1.9 [Nov 22 2016 23:35:56]

[2016-11-25 11:11] a1an77 commented on #90
Replacing spaces with _ seems to solve the problem so it is just a matter of handling spaces in the string splitter

[2016-11-25 11:52] torognes commented on #90
Swarm will first split the header line at the first space. The initial part is considered the sequence identifier, while the rest is considered an optional description. The abundance has to be at the end of the identifier, before the space. By default there has to be an underscore ("_") before the number indicating the abundance. If you specify the "-z" option to Swarm, it will recognise abundance

[2016-11-25 13:19] a1an77 commented on #90
The issue seems to be more complicated when we also consider the output: it looks like the clusters are outputted as a single line where identifiers are separated by spaces. In that case an identifier with a space would make it impossible to retrieve a correct list of identifiers from the output

[2016-11-25 13:54] a1an77 commented on #90
I also missed the definition in the manual, indeed spaces have to be dealt with before sending sequences to swarm, I guess a mapping is then needed as a pre-processing step.

[2016-11-25 14:08] a1an77 commented on #90
Maybe a warning that there are spaces in headers which could cause problems would be enough to catch the attention of a new user not reading the manual thoroughly in case her "identifiers" already end with "_N" by chance, with N not being an abundance value. Otherwise this can just be closed as a non-issue IMO

[2016-11-28 11:04] frederic-mahe commented on #90
Hi, we already have the following error message:
[code]
It is already quite clear, but maybe a way to improve it would be to show to the user how `swarm` sees the first faulty header. For example:
[code]
The definition of a header and how it is parsed can also be added to make a very comprehensive error message.

[2016-11-28 17:14] colinbrislawn commented on #90
👏 That provides the kind of 'just in time teaching' that empowers users to fix this problem.

[2016-11-30 12:02] a1an77 opened #91 "Remove abundance from identifiers in output file"
Hi, since the _abundance part of the input identifier is swarm specific there should be an option to have it removed from the output to have original identifiers back.

IMO it should even be the default behaviour to remove them and the option should allow keeping them for backward compatibility

[2016-12-02 13:10] a1an77 opened #92 "Put the cluster seed identifier in the --seeds output"
I noticed the output of the --seeds option does not output any sequence identifier for the cluster representatives. It would be very useful to have such and identifier for backtracking purposes and to couple the sequence back to the "cluster representative" identifier.

example output:

tacggg....

ggcggg...

Desired ouput:

tacggg....

ggcggg...

In the meantime I assume the only way to get the i

[2016-12-02 17:11] a1an77 opened #93 "Why is U replaced by T when outputting the seeds"
Just noticed that when producing the seeds output all U are replaced by T. Even though for clustering purposes they are equivalent, why not keep the original format?

[2016-12-02 17:48] colinbrislawn commented on #93
I think this is related to the grown phase of the swarm, which uses an exact hashing algorithm to recruit variants to the swarm with `d=1` differences from the swarm centroid. While an alignment algorithm could use a scoring matrix to show that U == T, the hashing employed by swarm works better by using only T for the database, queries, and output centroids.

[2016-12-10 14:37] frederic-mahe commented on #91
Thanks for you input @a1an77, we may consider the change you are suggesting in a future version. Please note that including `_ABUNDANCE` or `;size=ABUNDANCE` in output is not swarm-specific, other clustering tools do the same.

Meanwhile, you can get what you want with a simple command:
[code]
You can even pipe swarm's output and avoid a temporary file:
[code]

[2016-12-10 17:52] frederic-mahe commented on #92
Hi @a1an77

swarm normally outputs sequence identifiers for the cluster representatives. Maybe there is a problem with your identifiers? could you please paste some of the identifiers you use?

Thanks,

[2016-12-10 18:09] frederic-mahe commented on #93
Each U is converted to a T internally when loading the sequences in memory. Keeping track of wether or not some sequences contain "U"s would require some major rewriting of swarm's core. Could you please give us some details? do you have mix sequences using both U and T?

If all your sequences have "U"s, then it is trivial to convert swarm's fasta output:
[code]

[2016-12-20 12:28] torognes opened #94 "Alignment and identity percentage in UCLUST file may be wrong"
A bug in Swarm have been identified that may lead to wrong alignments (cigar string) and incorrect identity percentages in the UCLUST (.uc) files outputted by Swarm when run with the `-u` option. This is due to incorrect gap penalties being used. We are working on a solution.

[2016-12-20 12:35] torognes opened #95 "Alignments use a slightly too large gap extension penalty when d>1"
There is a bug in Swarm that affects the gap extension penalty in alignments. In comes in effect when d>1. There is an error in the conversion of the scoring system which leads Swarm in effect to use a slightly higher gap extension penalty than specified. The default scoring system of match score 5, mismatch score -4, gap open penalty 12 and gap extension penalty 4 in effect gives a gap extension

[2016-12-20 14:05] torognes opened #96 "Errors in SIMD alignment code"
Two problems with the SIMD code have been detected. These may result in invalid alignments and incorrect scores in some cases. This may lead to incorrect clustering when d>1. We are working on a solution.

[2016-12-22 21:36] torognes commented on #94
This issue has been resolved in Swarm version 2.1.10 just released.

[2016-12-22 21:36] #94 closed

[2016-12-22 21:37] torognes commented on #95
This issue has been resolved in Swarm version 2.1.10 just released.

[2016-12-22 21:37] #95 closed

[2016-12-22 21:38] torognes commented on #96
This issue is more complex to debug than the other two recent bugs. I need some more time to solve it.

[2017-01-16 15:44] torognes commented on #96
Fixed in version 2.1.11 just released.

[2017-01-16 15:44] #96 closed

[2017-01-27 00:44] steph43 opened #97 "Visualize swarms for d>1"
I'm using visualizations of a few target taxa to explore the differences between d=1 and d-2.  graph_plot.py seems to be working fine for d=2, but I am unclear as to how the graphics are defined.

From Swarm V2 (2015)
"Edges in these networks only represent the parameter d used; the length of the edges carries no information. The nodes in the networks represent amplicons."

It seems that the term

[2017-01-27 07:28] frederic-mahe commented on #97
Hi @steph43,

yes _amplicon_ means unique sequence. Another sequence with at least 1 difference will be represented by another node in the graphical representation. When using _d = 2_, edges can represent either distances of 1 or 2, without any visual distinction.

Let's assume you have only one isolated OTU, with the same number of amplicons whatever the _d_ value used for clustering. All graphic

[2017-02-17 14:20] lczech opened #98 "Writing seeds > 100%"
Minor issue. Using Swarm 2.1.12 [Feb 14 2017 19:19:01] with the following invocation

[code]
(almost verbatim [Fred's metabarcoding pipeline](https://github.com/frederic-mahe/swarm/wiki/Fred's-metabarcoding-pipeline))

gives the following output:

[code]

So, there seems to be an issue in the calculations of those percentages. Maybe, the duplicate values (three times "1%") can also be avoided ;-)

[2017-02-18 12:00] torognes commented on #98
Thanks, I'll look into this soon.

[2017-02-18 18:08] frederic-mahe commented on #98
Hi @lczech,

thanks for catching that.

I was able to replicate the bug by writing stderr to a file (`2> log`). Progress values for the `-z` option ("Writing seeds") are larger than 100%. The wrong progress values are visible with `less log`, but not with `cat log` as the last value is 100%: `... Writing seeds:     149%  ^MWriting seeds:     149%  ^MWriting seeds:     100%`

[2017-03-03 15:38] frederic-mahe opened #99 "GCC warnings when using `-Wextra`"
I think we should add `-Wextra` to swarm's Makefile. Here is the output of GCC 6.3:
[code]

[2017-03-04 00:32] lczech commented on #99
You might also want to try `-Wpedantic`, to get "clean" ISO code. See here for details: https://gcc.gnu.org/onlinedocs/gcc/Warning-Options.html

[2017-03-04 08:05] frederic-mahe commented on #99
Hi @lczech, adding `-Wpedantic` reports two additional warnings:
[code]
Hum, these warnings could be false-positives. And I am not sure which ISO C++ version swarm's code follows.

[2017-03-08 11:41] torognes commented on #99
I have made changes to the source code to remove the warnings you have indicated. They do not represent errors or bugs. I have also added the `-Wextra` and `-Woverflow` to the compiler flags in the Makefile. Adding `-Wpedantic` or even `-Weverything` gives me many more warnings. I have looked through them, but they are all warnings that do not, as far as I can see, represent errors or bugs in the

[2017-03-08 11:58] torognes commented on #99
I have added the `-Wpedantic` warning option as well, but using the `-Wno-c++11-long-long` I disabled some warnings I got in the CityHash code.

[2017-03-08 11:59] #99 closed

[2017-03-08 12:34] #93 closed

[2017-03-08 12:37] frederic-mahe commented on #81
I am going to close that issue. Feel free to open it again if you want to add to the conversation.

[2017-03-08 12:37] #81 closed

[2017-03-08 12:38] #87 closed

[2017-03-08 12:39] torognes commented on #98
Fixed in version 2.1.13, just released.

[2017-03-08 12:39] #98 closed

[2017-03-12 15:43] frederic-mahe commented on #12
[Edlib](https://doi.org/10.1093/bioinformatics/btw753) is a very fast Levenshtein distance library, suitable for long sequences (> 1 Mb).

[2017-04-13 18:38] MVEverett opened #100 "Error message "‘asprintf’ was not declared in this scope" when compiling in Cygwin"
Hello
I'm trying to compile 2.1.13 in Cygwin64 and keep getting the following message
 make
g++ -Wall -Wsign-compare -O3 -msse2 -mtune=core2 -Icityhash -g -c -o swarm.o swarm.cc
g++ -Wall -Wsign-compare -O3 -msse2 -mtune=core2 -Icityhash -g -c -o db.o db.cc
db.cc: In function ‘void db_read(const char*)’:
db.cc:407:32: error: ‘asprintf’ was not declared in this scope

[2017-04-13 20:26] MVEverett commented on #100
I was able to solve this by adding an asprintf.h file I obtained from http://asprintf.insanecoding.org/ to the src folder and then adding
#include "asprintf.h" to the db.cc function

[2017-04-14 09:43] frederic-mahe opened #101 "How to handle duplicated parameters or options?"
hello, what should swarm do if an option is passed twice?
[code]
as of now, swarm does not complain and writes in `file2`. I am perfectly OK with that, but other tools behave differently:
[code]
I don't know what is the best way to behave. Should swarm issue a warning and keep running? Either way, that behavior should be documented in the man page, something like "if the same option is passed twic

[2017-04-14 17:02] colinbrislawn commented on #101
I guess I kind of like the idea of throwing an error and stopping. I feel like duplicate flags might be a mistake made by new users, and throwing an error would force them to find it and fix it. They might miss this if the script completes silently or if it's only in the man page, which new users rarely read.

In a more general sense, should duplicated parameters be accepted for other options?
`sw

[2017-04-14 21:24] colinbrislawn commented on #100
Crossplatform swarm!? 😄 💯

[2017-04-18 12:15] torognes commented on #100
The asprintf function is a not available in all Unix variants. It's a GNU extension. It can be replaced by the alternative code that @MVEverett found. We should try to avoid such code in Swarm in the future to make it more portable. There is a similar function called xsprintf in vsearch in the util.cc file (currently lines 160-174).

[2017-04-18 12:19] torognes commented on #101
Ideally it should complain if the same option is passed more than once. It will complain now if non-existing options are specified.

This behaviour could be implemented with a bool array (bitmap) indicating which options are specified, and by checking if each option has already been encountered.

[2017-04-18 15:43] frederic-mahe commented on #77
This is important for the fastidious options. The fastidious step can start after several hours of computation, so it is better to fail immediately if a parameter is out-of-range.

[2017-04-19 08:49] frederic-mahe commented on #78
That problem was not observed again. Another code modification may have corrected the bug as a side-effect. I'll close that issue.

[2017-04-19 08:49] #78 closed

[2017-04-19 08:54] torognes commented on #101
See also issue #77

[2017-05-10 12:48] frederic-mahe opened #102 "bug in abundance value parsing?"
so, this is weird. Swarm accepts arbitrary large abundance values, but It seems to fail to parse abundance values that are **exact** powers of two, for powers greater than 31 (so, 2^32, 2^33, 2^34, ...). For example:
[code]
[code]
[code]
Maybe there is a problem with the header parsing function and the way `atol()` works?

[2017-05-10 13:29] lczech commented on #102
This is an overflow issue. `abundance` is defined as `unsigned int`, which it is usually 32 bit.

Thus, any power of two greater than that overflows to 0. Any other number greater than that will overflow to some non-zero number, which makes the program run through, but with wrong abundances. If you print the abundance for `( 1 << 32 ) + 1`, you get `1`. This is a valid abundance, but not want you

[2017-05-10 14:16] frederic-mahe commented on #102
Hum, I am not sure it is an overflow. Swarm does return the correct abundance value, even if it is larger than 2^32:
[code]

[2017-05-10 14:26] lczech commented on #102
I have not looked into the part, that does the output, but it seems it simply prints the string that was used as input for this.

The conversion from string to int when reading the database in `db.cc` however stores the result in an `unsigned int`, so the overflow is happening at this point. The variable is defined in `seqinfo_s` struct in `swarm.h`, where `abundance` is stored as `unsigned int`,

[2017-05-10 14:38] torognes commented on #102
The abundance values should probably instead be represented by an unsigned 64-bit long so that they can hold values up to 2^64-1 = 1.8e19 instead of just 2^32-1 = 4.2e9. I guess abundances above 4.2e9 are possible.

[2017-05-10 14:43] frederic-mahe commented on #102
I insist on the fact that only *exact* powers of two fail. Other values, such as 2^45 + 1 work fine (and do not seem to overflow), please try. That's why I considered that bug as very weird.

[2017-05-10 14:56] lczech commented on #102
And I insist on the opposite ;-)

In `db.cc`, line 374

    seqindex_p->abundance = atol(seqindex_p->header + pmatch[2].rm_so);

add a print statement like this

    std::cout << "\n\nseqindex_p->abundance = " << seqindex_p->abundance << "\n\n";

and add `#include <iostream>` in the beginning of the file. Then try your test cases again.

[2017-05-10 14:59] frederic-mahe commented on #102
You are right. I deleted my comment a few seconds after posting it, when I'll realized that swarm was only returning a "string" version of the abundance value.

[2017-05-11 08:17] frederic-mahe commented on #102
Thanks for your comments. Data sets are not that big yet, so it is not urgent to make that change. But we will get there eventually, so I am going to mark that issue as a feature for swarm 3.0.

[2017-05-11 08:24] frederic-mahe commented on #94
hi @torognes , would you happen to have a toy example I could use to make a regression test for that particular issue?

[2017-05-11 08:24] frederic-mahe commented on #95
hi @torognes , would you happen to have a toy example I could use to make a regression test for that particular issue?

[2017-05-11 08:45] torognes commented on #95
This bug was described by Robert Mueller in his email of 8 December 2016. He wrote:

The sequences 'ctattgttgtc' and 'tctatgtgtct' should work as a toy example. The resulting alignment and score should indicate whether the bug is present or not.

[2017-05-11 08:58] torognes commented on #94
This bug is the first issue described by Robert Mueller in his email of 8 December 2016:

Sorry, but I do not think I have any sequences that could be used to test this. There was an obvious mix up of values that I just corrected.

The bug would result in wrong (untransformed) gap penalties being used when computing the cigar string and identity percentages in the .uc files.

[2017-05-11 10:26] frederic-mahe opened #103 "not all memory is freed when swarm exits with an error"
This is a very minor issue.

`valgrind` indicates that some blocks are still reachable when swarm exits after an error (no abundance value in this toy example):
[code]

[2017-05-11 10:49] torognes commented on #103
When fatal errors occur the program often terminates without explicitly freeing memory. All memory will be freed automatically afterwards when the program exits. I do not think this should be considered an error.

[2017-05-11 12:30] frederic-mahe commented on #103
Agreed.

[2017-05-11 12:30] #103 closed

[2017-05-11 13:59] frederic-mahe opened #104 "static analysis of swarm's C++ code (cppcheck)"
This is a minor issue. Maybe the two warnings are worth correcting.
[code]
returns two warnings, and several variables whose scope could be reduced:
[code]

Regarding the scope reduction, is this what should be done for `m`?
[code]
**edit**: no, it does not seem possible to type the variable inside a conditional fork.

[2017-05-11 14:15] frederic-mahe commented on #104
for `swarmsize`, it is not clear if it stores the size of one cluster, or the cumulated size of all clusters. If it concerns only a single cluster, then it should be defined inside this `while` loop:
[code]

[2017-05-17 13:08] sariya opened #105 "Swarm doesn't exit when run without any inputs"
Hi,
I'm using Swarm 2.1.13, OSX 10.11.5 El Capitan. I downloaded swarm, followed instructions to make it. In bin I run swarm as
`./swarm`

I get message as attached in .txt file. Shouldn't swarm exit or abort if run without any input files/parameters?
[swarm_message.txt](https://github.com/torognes/swarm/files/1007813/swarm_message.txt)

[2017-05-17 15:49] sariya commented on #105
Ah, makes sense. Thanks.

[2017-05-18 13:24] frederic-mahe commented on #88
Reporting average pairwise distances should not be swarm's job, as swarm is not a classic clustering method. Nonetheless, the script above shows how intra-OTU distances can be computed after clustering with swarm.

I am going to close that issue.

[2017-05-18 13:24] #88 closed

[2017-05-18 13:47] frederic-mahe commented on #92
I am going to assume this was a problem with @a1an77 's data. I am closing that issue.

[2017-05-18 13:47] #92 closed

[2017-05-18 15:33] frederic-mahe opened #106 "bug in -w output when using the -a option"
The fasta file of cluster representatives (`-w`) is not correct when using the `-a` option to append abundance values to amplicons missing one.
[code]
The identifier of the amplicon (`s1`) is missing, and only the abundance value is reported:
[code]

[2017-05-24 09:00] frederic-mahe commented on #104
The only remaining warnings are:
[code]

[2017-06-27 08:16] torognes opened #107 "Port Swarm to other platforms"
Perhaps we should port Swarm to Linux on POWER8 and Windows on x86_64 as we have done for vsearch?

[2017-06-28 12:10] torognes commented on #104
I have checked the modifications and made some more to avoid all warnings from cppcheck, except in the cityhash code. All changes committed.

[2017-06-28 12:20] torognes commented on #100
Added xsprintf function to replace asprintf. Should solve the problem.

[2017-06-28 12:39] torognes commented on #90
The error message has been improved as suggested.

[2017-06-28 13:13] torognes commented on #79
Added check for empty sequences. Exits with fatal error if found.

[2017-06-28 13:17] torognes commented on #76
Check for correct range (0-255) and improved error message added.

[2017-06-28 14:03] torognes commented on #106
Fixed.

[2017-06-28 14:12] torognes commented on #10
It includes the abundance info in the string that is checked for uniqueness. The two headers in the example above are therefore considered different. The abundance should be excluded.

[2017-06-28 15:21] torognes commented on #77
Added warning if `-c` or `--ceiling` option specified without `-f` or `--fastidious`.

[2017-06-28 15:31] torognes commented on #101
Duplicated options now trigger a fatal error with this message: `Error: Option -x or --xxxxxx specified more than once.`

[2017-06-29 11:35] torognes commented on #10
Sorry, the unique header checking was not working at all. Working on a fix.

[2017-06-30 12:59] torognes commented on #102
Fixed. Now allows 64-bit values.

[2017-06-30 13:35] torognes commented on #100
Removed need for asprintf or xsprintf.

[2017-07-02 11:51] frederic-mahe commented on #100
Then, the `xsprintf` function could be removed:
[code]

[2017-07-02 11:53] frederic-mahe commented on #104
There are still a few warnings:
[code]

[2017-07-02 12:31] frederic-mahe commented on #3
A warning could be issued if some sequences are identical, but I have no idea whether or not this is useful. Getting that information is easy for `d = 1` since swarm hashes the sequences. But it is probably more complex to check for `d > 1`. What do you think @torognes? should we drop that issue?

[2017-07-02 13:41] frederic-mahe commented on #101
Perfect. Passing non-existing or duplicated options is already covered by unit tests, so I think we can close that issue.

[2017-07-02 13:41] #101 closed

[2017-07-02 13:46] frederic-mahe commented on #86
Perfect, swarm 2.1.13 can now read from process substitutions, which allows for more flexible pipelines.
[code]

[2017-07-02 13:46] #86 closed

[2017-07-02 13:59] frederic-mahe commented on #76
implemented in swarm 2.1.13

[2017-07-02 13:59] #76 closed

[2017-07-02 15:00] frederic-mahe commented on #10
implemented in swarm 2.1.13

[2017-07-02 15:00] #10 closed

[2017-07-02 15:01] frederic-mahe commented on #79
implemented in swarm 2.1.13

[2017-07-02 15:01] #79 closed

[2017-07-02 15:03] frederic-mahe commented on #80
implemented in swarm 2.1.13

[2017-07-02 15:03] #80 closed

[2017-07-02 15:07] #102 closed

[2017-07-02 15:07] #106 closed

[2017-07-02 16:20] #90 closed

[2017-07-03 08:09] frederic-mahe commented on #91
Abundance annotations are not `swarm`-specific. Other operations such as *de novo* chimera detection with `uchime` also require abundance annotations. We would like to keep swarm as lean as possible, therefore we are not going to add a specific option for abundance annotation removal. Hopefully, the simple shell commands presented above will cover most user cases. It is also possible to strip abun

[2017-07-03 08:09] #91 closed

[2017-07-03 08:41] frederic-mahe commented on #77
Perfect. Implemented in swarm 2.1.13

[2017-07-03 08:41] #77 closed

[2017-07-03 08:44] frederic-mahe commented on #97
I am going to close that issue. Feel free to re-open it if my answer does not cover completely the initial question.

[2017-07-03 08:44] #97 closed

[2017-07-03 15:07] torognes commented on #104
Fixed.

[2017-07-03 15:08] torognes commented on #100
Unnecessary code removed.

[2017-07-03 15:08] torognes commented on #82
Fixed.

[2017-07-03 15:09] torognes commented on #65
A warning similar to that above (but including the number of duplicated sequences) is now issued when duplicated sequences is detected and d>0.

[2017-07-03 15:10] torognes commented on #3
A warning is now issued when duplicated sequences is detected and d>0.

[2017-07-03 15:42] #100 closed

[2017-07-03 15:56] #82 closed

[2017-07-03 16:02] #65 closed

[2017-07-03 16:03] #3 closed

[2017-07-04 14:52] torognes commented on #56
Fixed. Added a warning for duplicated sequences and corrected the difference value (column 3) in the structure file for duplicates when d=1.

[2017-07-06 13:57] torognes commented on #55
The cluster numbers in the uclust file and internal structure file were incorrect when the fastidious option was used, as there were gaps in the numbering corresponding to the light swarms that were grafted on the heavy swarms. This has now been corrected so that the cluster numbers are contiguous.

The structure file has been updated to include lines corresponding to the grafting links between am

[2017-07-06 14:24] torognes commented on #105
Perhaps we should make it a requirement to add a filename on the command line? To read from stdin it would now be enough to include a hyphen (-). This could make it a bit easier for beginners by giving some help information if nothing was specified on the command line. Would probably break some scripts though, so it should wait until version 3.0.0.

[2017-07-06 15:01] colinbrislawn commented on #55
👏 💯

---

I like counting it as **two** steps because when d=1, the links found by fastidious have an edit distance of two. I'm not sure what makes the most sense at d > 1.

[2017-07-07 15:39] frederic-mahe commented on #105
When launched without option or input, swarm writes a few lines of information and waits for data to arrive on its standard input:
[code]
When no input file is given (i.e. `read from stdin`), what about adding one more line of information explaining what is going on? Something like:
[code]
If data is coming on `stdin` then the message will be immediately followed by new lines showing the clusterin

[2017-07-07 16:02] colinbrislawn commented on #105
Oh that's perfect!

`waiting for data... (hit ctrl-c and run swarm -h if you meant to read data from a file)`

That sounds like a perfect way to help new users, while being consistent with *unix programs and maintaining functionality for existing pipelines.

These little hints make big gains in accessibility. 🎉

[2017-07-10 10:11] torognes commented on #105
Sounds like a good idea! Will implement that.

[2017-07-10 15:13] frederic-mahe commented on #55
This is now covered by tests (see [this commit](https://github.com/frederic-mahe/swarm-tests/commit/d75bb059778fbae40a8ceb152c6eeb45864181dc))

[2017-07-12 11:27] frederic-mahe commented on #55
I agree with that decision and I've created a test to confirm that behavior. That 5th column is problematic anyway, as it often overestimates the edition distance between amplicon and seed, especially for large OTUs.

I think I should rewrite the documentation to reflect that the information in the 5th column is merely indicative and should not be relied on for grafted amplicons.

[2017-07-16 16:42] frederic-mahe commented on #55
documentation has been updated. I think that issue can be closed now.

[2017-07-16 16:42] #55 closed

[2017-08-22 11:18] torognes commented on #105
Fixed. When waiting for input from stdin (or pipe), swarm will show this message:

`Waiting for data... (Hit Ctrl-C and run swarm -h if you meant to read data from a file.)`

[2017-09-25 14:12] stheil15 commented on #89
Any update ?

[2017-10-12 13:22] yoann-dufresne opened #108 "Wrong cluster id in the uc output"
I'm was experiencing a weird bug in a uc file parser. The number of sequences in the clusters was not the same that the number of sequence entered in swarm and you'll see soon why.

Here is a subsample of the uc file that I got:
C	227575	15	*	*	*	*	*	ISU_721155;size=1;	*
S	227575	340	*	*	*	*	*	ISU_721155;size=1;	*
H	376617	340	99.7	+	0	0	340M	ISU_744801;size=1;	ISU_721155;size=1;
H	376617	340	99.4

[2017-10-13 11:05] torognes commented on #108
Thank you for reporting this issue. This looks weird. Could you please indicate the version of Swarm you were running as well as all command line options? If it is possible to provide the 14 sequences in the example, that would also valuable.

[2017-10-13 13:07] yoann-dufresne commented on #108
Version:
Swarm v2.1.13

Command:
swarm input.fasta -o /dev/null -u swarm.uc -z -w centroids.fasta -t 8 -f

[Sequences](https://github.com/torognes/swarm/files/1382663/sequences.fasta.zip)

[2017-10-14 17:03] frederic-mahe commented on #108
Hi, I've been trying to make a minimal example that triggers the bug. We already have unit tests to check that the OTU number is correct, but I had no success modifying them to reproduce Yoann's bug.

So far, I've noticed that if the fasta entry `ISU_887926;size=2;` is removed from Yoann's toy sample, then the OTU number is correct for all hits.

[2017-10-16 06:29] frederic-mahe commented on #108
Hi,

I've minimized Yoann's example:
[code]
The UC output is indeed incorrect (OTU number is 1 instead of 0):
[code]
The internal structure is as such:
[code]
If the abundance of `b` is set to 1 instead of 2, then the output is correct. For some reason, removing the sequence `d` breaks the cluster.

[2017-10-16 14:54] torognes commented on #108
Swarm shows the wrong cluster number on the H lines of UC files when using fastidious mode. The number shown is the original cluster number, before the fastidious grafting.

The problem was easy to correct and I have committed a fix.

[2017-10-16 14:58] torognes commented on #108
The problem seems to have been there since the fastidious option was introduced.

[2017-10-16 15:08] torognes commented on #108
This is because the heavy swarm (with just a and c) is reduced in weight from 3 to 2 and is not considered a heavy swarm anymore. No grafting occurs in that case.

The incorrect cluster numbers are those of the light swarms that are grafted onto heavy swarms.

[2017-10-16 16:29] frederic-mahe commented on #108
OK. As I don't use it myself, the UC output was not completely covered by unit tests. I've pushed a new test to swarm-tests to make sure that bug will never come back. Many thanks to @yoann-dufresne for is report!

[2017-10-17 11:19] yoann-dufresne commented on #108
You're welcome !
I'll do it again if necessary :)

[2017-10-17 12:41] torognes commented on #108
Fixed in version 2.2.0 just released.

[2017-10-17 12:41] #108 closed

[2017-10-17 12:41] torognes commented on #105
Fixed in version 2.2.0 just released.

[2017-10-17 12:41] #105 closed

[2017-10-17 12:42] #47 closed

[2017-10-27 10:42] mariabernard opened #109 "segmentation fault error when using swarm with -d 1"
Hello everyone,

We use Swarm in the FROGS pipeline to cluster amplicon sequences. But for a particular dataset swarm (2.1.13 or 2.2.0)  return a segmentation fault that I can not explain.

This appaer only when using -d 1 on the complete dataset.

<pre>
grep -c '>' full_dataset.fa
28751
swarm --differences 2 --threads 1 --log swarm_test_log.txt --output-file test.compo full_dataset.fa
swarm --dif

[2017-10-27 11:03] torognes commented on #109
Thank you for reporting this problem. It is difficult to see what the cause of the problem is.
Could you please provide the output of the swarm_test_log.txt file for the case where a segmentation error occurs? If it is possible to provide the entire dataset that would be very helpful.

[2017-10-27 11:44] mariabernard commented on #109
The swarm log is empty.

I sent you an email to download the dataset.

Thank you for your help.

Maria

[2017-10-27 15:15] torognes commented on #109
Thanks, I have received the file and am trying to identify the bug.

[2017-10-27 15:59] torognes commented on #109
I get the same error on Linux, but it appears to run fine on my Mac. Looks like a memory allocation error.

[2017-10-27 16:39] torognes commented on #109
There was an embarrassing memory allocation error in the code for d=1 resulting in too little memory allocated in cases where there was large variability in the length of sequences.

The bug has been fixed in Swarm version 2.2.1 just released.

Thanks again for reporting this issue!

[2017-10-27 16:39] #109 closed

[2017-10-27 22:40] torognes commented on #109
The bug actually appeared due to a bug in memory allocation that shows up in some cases when using input sequences that are not dereplicated. I do not think the bug would appear if the input is dereplicated.

[2017-10-28 07:50] frederic-mahe commented on #109
Hi, I've created a unit test for that specific bug (see [swarm-tests](https://github.com/frederic-mahe/swarm-tests/commit/febb2ee9a89b385f55abb23c4346b9b6905a188d)). With undereplicated length-1 input sequences, we need 1 seed + 2 * (7 + 4) + 1 = 1 + 22 + 1 = 24 sequences to trigger the bug.
[code]
When we tested swarm's handling of undereplicated sequences, all the tests we wrote used longer inpu

[2017-10-30 15:58] mariabernard commented on #109
Many thanks!

I add a dereplicating step and even with swarm 2.2.0, it works!

[2017-12-11 10:05] torognes opened #110 "Swarm does not start clustering in rare cases"
In a rare case when using d=5 and 10 threads clustering did not start. Swarm was waiting with 0% progress. It worked fine the next time, so it is not easily reproducible. May be related to isssue #78. May have to do with multi-threading.

[2017-12-11 12:15] frederic-mahe commented on #110
I can replicate the bug. If I monitor it with valgrind, and kill the process after a while:
[code]
the programs seems to be waiting for the `qgram_diff_fast` function to finish. Using `valgrind -v` provides instructions on how to debug that stuck process in `gdb`.

[2017-12-11 13:43] frederic-mahe commented on #110
another run gets stuck on `qgram_diff_fast`, same sub-function call:
[code]

[2017-12-11 13:51] torognes commented on #110
Thanks, it clearly seems to be an issue with the `pthread_cond_wait` and associated `pthread_cond_signal` calls that does not work well in all cases.

[2017-12-11 14:12] frederic-mahe commented on #110
another run gets stuck on `qgram_diff_fast`, same sub-function call:
[code]
That seems to be a deadlock. I've been trying to get more info by using `valgrind --tool=helgrind` but I cannot replicate the bug in that context.

[2017-12-11 15:32] torognes commented on #110
I think it is fixed with the latest commit.

[2017-12-11 15:47] frederic-mahe commented on #110
Do you think that would solve #78 too?

[2017-12-11 18:31] torognes commented on #110
yes

[2017-12-12 06:24] frederic-mahe commented on #110
The patch does not change any of the logic covered by the tests (all tests pass).

[2017-12-12 08:55] torognes commented on #110
Fixed in Swarm 2.2.2 just released.

[2017-12-12 08:55] #110 closed

[2017-12-12 08:55] torognes commented on #78
Probably related to issue #110 just fixed in Swarm version 2.2.2.

[2017-12-19 16:52] davidvilanova opened #111 "Can you update bioconda with latest ?"
Would be great !!!!

[2017-12-19 17:38] colinbrislawn commented on #111
I've submitted a PR now: https://github.com/bioconda/bioconda-recipes/pull/7128

Hopefully this will be live by the end of the day. 🐍 📦

[2017-12-19 19:11] davidvilanova commented on #111
great thanks for quick response

[2018-01-10 14:08] Seena1 commented on #43
I performed Swarming and I got 2 files representative.fasta and data.swarms files, I would like to perform VSEARCH, could anyone please help with the command.

[2018-01-16 14:04] torognes commented on #43
@Seena1, you could try this command:

`vsearch --uchime_denovo representative.fasta --nonchimeras nonchimeras.fasta`

[2018-04-20 15:26] frederic-mahe opened #112 "Compilation warnings with the new GCC 8.0"
[code]
See [GCC 8.0 changes](https://gcc.gnu.org/gcc-8/changes.html) for some details.

[2018-04-20 15:29] frederic-mahe opened #113 "Compatibility with old GCC versions?"
On one of the clusters I have access to, only GCC 4.4.7 is available:
[code]
swarm's compilation fails with GCC 4.4.7:
[code]
As of today, [GCC's supported releases](https://gcc.gnu.org/) are:
[code]
Should we keep trying to get swarm to compile with older GCC releases (namely, older than 6.4)?

[2018-04-20 15:31] #111 closed

[2018-04-20 15:50] frederic-mahe commented on #113
Today, I've written a script that automatically tests swarm's compilation with GCC 4.8.5, 4.9, 5.1, 5.2, 5.3, 5.4, 5.5, 6.1, 6.2, 6.3, 6.4, 7.1, 7.2, 7.3, and 8.0. All but 8.0 pass without errors or warnings.

I've also written a script that tests swarm's compilation with clang 3.8 and 3.9 (the versions available on Debian stable). I'll try to [install](https://apt.llvm.org/) and test clang 5, 6 a

[2018-04-26 14:26] torognes commented on #113
I have access to a machine with the following gcc versions: 4.4.7, 4.7.2, 4.9.0, 5.1.0, 6.1.0, 4.8.0, 4.9.1, 5.2.0, 6.3.0, 4.8.2, 4.9.2, 5.3.0, 7.2.0. Travis CI also has support for multiple gcc versions.

I think we should continue to support all these versions.

I usually compile swarm (and vsearch) with gcc 4.9.2 for the binary releases, because it then refers to libraries that are available on

[2018-04-26 14:27] frederic-mahe commented on #112
No more warnings and all tests pass :smile:

[2018-04-26 14:28] #112 closed

[2018-04-26 14:30] frederic-mahe commented on #113
That would be the best solution.

[2018-04-26 15:10] torognes commented on #113
It seems like the `-pedantic` option is supported by all versions, while `-Wpedantic` is only supported by 4.8 and later. The simplest solution is therefore to go for just `-pedantic`. That fix is now committed.

[2018-04-26 17:09] frederic-mahe commented on #113
OK. We should keep an eye on that issue though. The option `-pedantic` is [deprecated since GCC 4.8](https://gcc.gnu.org/gcc-4.8/changes.html) and might disappear from future GCC versions:

[2018-04-26 17:09] #113 closed

[2018-05-07 12:46] frederic-mahe opened #114 "improve groff code"
Read `man groff_man` and write a more idiosyncratic groff code for swarm's manpage. Even if @torognes doesn't like groff :-)

[2018-06-06 10:08] frederic-mahe opened #115 "Potential vulnerabilities identified by Flawfinder"
This is a low-priority issue.

while looking at the static code analysis functionalities offered by [gitlab](https://docs.gitlab.com/ee/user/project/merge_requests/sast.html), I learned about [flawfinder](https://www.dwheeler.com/flawfinder/). It is a simple tool mostly focusing on C/C++ functions that are known to be vulnerable, but it can help us spot potential problems in our code, especially f

[2018-06-26 13:32] lczech commented on #7
Nice! I thought about doing that as well, and had a look at the swarm code, but was not entirely sure where to start...

Anyway, in case you want to re-use some of the code that I already made for two-bit vectors, have a look at this class

 - Interface: https://github.com/lczech/genesis/blob/master/lib/genesis/utils/math/twobit_vector.hpp
 - Implementation: https://github.com/lczech/genesis/blob/

[2018-06-26 14:40] frederic-mahe commented on #7
Hi @lczech

I went through your code and my brain exploded :-)

I noticed you wrote that in `twobit_vector.cpp` line 279:

(remember I have no idea what I am talking about) I wonder if a solution could be to distribute the two bits representing each nucleotides into two vectors: one vector will contain the `upper bits`, and the other one will contain the `lower bits`. That way, you can use single

[2018-06-26 14:47] frederic-mahe commented on #7
Hi @torognes

for the projected publication describing swarm 3.0, I was thinking about including @lczech as a co-author (especially if his code ends up being integrated). The author list could be shuffled a bit this time, with Torbjørn moving to first or last author (I'll be in the opposite position). I still need to discuss this with Micah, but I hope he won't be to much annoyed to loose his last

[2018-06-26 15:20] lczech commented on #7
That was quite some feedback ;-)
Let me try to answer step by step.
<br>

I wouldn't recommend to link to the complete repository, it's too much noise for swarm. Also, the code will need some minor adaptions, like namespaces, remove some logging stuff, etc. So instead, we can just copy the needed classes and functions to swarm. In fact, I wrote this code back when @frederic-mahe and I were in Rosc

[2018-06-26 17:49] frederic-mahe commented on #7
Thanks @lczech for this detailed answer, and for the code :-) An even faster and leaner swarm will be very useful for the UniEuk project. I let you and @torognes have a Skype call if you need to discuss implementation details.

Regarding the 2-bit vector unpacking, that should be useful only when outputting the representative sequences for each OTU (any `d`), or for the `d > 1` pairwise sequence c

[2018-06-27 10:19] lczech commented on #7
Okay, quick update. I copied the files to my fork of swarm, and changed the internals so that they fit into swarm. That is, the code is self-contained now, and license, namespaces, header guards etc are now fit for swarm. See here: https://github.com/lczech/swarm/tree/master/src/twobit_vector

Furthermore, I updated the [Makefile](https://github.com/lczech/swarm/blob/master/src/Makefile), so that

[2018-06-27 10:40] frederic-mahe commented on #7
Hi @lczech

I wrote [external tests](https://github.com/frederic-mahe/swarm-tests). The idea was to consider swarm as a black box and to check if its output and behavior match what is expected. For what it's worth, I was able to test most of (all?) important uses of swarm, including some weird corner cases. All that without knowing C++ as would writing internal tests would have required!

[2018-06-27 10:57] lczech commented on #7
Those tests are surely good to have! Still, I would consider internal unit-tests an important part of code validation. In the black-box setting, you never know what kind of stuff went wrong internally. For example, imagine that given a nucleotide sequence, one particular case of inserting a nucleotide is skipped in the code by accident. I doubt that this can be caught in black-box tests.

[2018-06-27 12:36] frederic-mahe commented on #7
As a matter of fact, I have a [test](https://github.com/frederic-mahe/swarm-tests/blob/28aa72931f88118833ce03bc9b1b970cd8266a49/scripts/fixed_bugs.sh#L835) checking that all possible microvariants are produced for a given nucleotide sequence. You are right, it might not cover all cases for all possible sequences though.

One advantage is that swarm's code and my tests are written by two different

[2018-06-27 12:50] lczech commented on #7
Re microvariants: Touché!

Re unit tests: I use [Google Test](https://github.com/google/googletest), which is an open source test framework. It is not hard to integrate. If you guys want, I can add integration on my swarm fork, and add the tests that I already have. Then, one could successively add more tests for other functions as well.

[2018-06-27 13:03] frederic-mahe commented on #7
Since I am not the one who's going to code the tests, I'll let @torognes decide if he wants to add unit-tests.

[2018-07-02 13:24] torognes commented on #7
Thanks, @lczech, I'll start working on using your twobit_vector code in the swarm. I must say that the code looks very well written and documented.

I am also impressed with the entire genesis toolkit you have written. I have not been that good at documenting or testing (using unit tests) my own code, but I am trying to improve. @frederic-mahe has taken the initiative to the external testing.

Reg

[2018-07-02 13:34] lczech commented on #7
Thanks ;-)

You saw my earlier comment here about my [swarm fork](https://github.com/lczech/swarm/tree/master/src/twobit_vector), where I put ready-to-use code of the implementation? I'm asking just to avoid that you replicate work that I already did for adapting the code.

As for the hashes: Okay, I see. That probably needs to be tested. We can also try some other simple hash functions later.

[2018-07-02 13:42] torognes commented on #7
Yes, I have seen your swarm fork. I will merge those changes directly into the main swarm repo.

[2018-07-06 13:23] torognes commented on #7
There is now a commit (https://github.com/torognes/swarm/commit/0123fcb3c8b0f260dd1d799c0120171eeb3af158) in dev where clustering seems to work for d=1 using TwobitVector. It uses only one thread. Unfortunately it is about 5 times slower than before, so I was a bit disappointed. However, this is only the first iteration and there are many things that can be improved.

Here are some notes:
* I modi

[2018-07-06 13:54] frederic-mahe commented on #7
Thanks for the update @torognes

I wonder if producing all microvariants, including duplicates, wouldn't be faster than trying to avoid duplicates. For a sequence of length `l` there are between `6l + 5` and `7l + 4` unique microvariants , and `8l + 4` microvariants total (including duplicates). If we do not try to avoid duplicates, that's a 15% increase in the number of microvariants, on average.

[2018-07-06 16:56] lczech commented on #7
Thanks for trying out the implementation! Have you tried to profile where the program spends most of the time? I had a look a the code, and apart from the copying of the two bit representation, didn't spot any obvious slow parts. Maybe the hashing and hash collisions cause an issue though. If you can point me to the dataset that you used for testing, I can try valgrind on it.

I don't know, needs

[2018-07-06 17:52] torognes commented on #7
Haven't had time to profile it yet, but running valgrind will probably help a lot.

So far I have used a subset of 50 000 randomly subsampled sequences from the [BioMarKs dataset](https://github.com/torognes/vsearch-eval/tree/master/derep/data) for testing. These are fairly long sequences.

[2018-07-06 18:13] frederic-mahe commented on #7
I suggest to use a fix seed for subsampling, so results can be compared:
[code]

[2018-07-10 11:31] lczech commented on #7
@torognes, could you please post the command line that you use for testing with the BioMarks dataset? I want to make sure that I profile the twobit vector in a reproducible way.

[2018-07-10 12:04] frederic-mahe commented on #7
Hi @lczech (@torognes is probably on holidays). Here how I would run things:
[code]
after 4-5 seconds, you should get that:
[code]

[2018-07-10 13:10] frederic-mahe commented on #7
Subsampling yields 25,243 sequences, but each sequence represents a variable number of reads (the `;size=INT` info in the fasta headers). If you sum up the abundance values, you should get a total of 50,000.

[2018-07-10 15:05] lczech commented on #7
Okay, just a few tiny (but important) changes brought the run time from 16s to 2s on my machine:

 - The functions `hash_insert` and particularly `find_variant_matches` took a `TwobitVector` copy instead of a `const&`. Thus, the vectors were copied in every iteration (that is, for every microvariant!). Changing this to `TwobitVector const& seq` gives speedup.
 - The iterators in `generate_variants

[2018-07-10 15:11] lczech commented on #7
All right, just [pushed the changes to my fork](https://github.com/lczech/swarm/commit/f7b0c450ae37c857d8b0d65c11b2c26ad23ede04). My editor also eliminated trailing white space in the files, so there is some noise in there. Sorry for that.

[2018-07-10 15:35] lczech commented on #7
Okay, next update: There are two more optimizations that we might consider:

 - Store `TwobitVector` in the database directly, instead of copying them word-by-word (`db_get_seq_as_TwobitVector`).
 - Make the iterators operate on the vector instead of on a copy.

I don't know how much speed those would yield, as both need to be done once per seed only, and not per microvariant. So, they are not cal

[2018-07-10 15:55] frederic-mahe commented on #7
Some benchmark results:
[code]
with @lczech's optimizations, swarm now runs 64% faster (72 s against 200 s to clusterize BioMarKs three times). That's nearly 3 times faster!

When using more than one thread, swarm2 is twice faster but swarm3 shows no gain.

[2018-07-10 15:59] frederic-mahe commented on #7
`Maximum resident set size of the process during its lifetime, in Kilobytes` is almost divided by two!

[2018-07-10 16:36] frederic-mahe commented on #7
@lczech I compared to the latest swarm release (the master branch, not the dev branch). So that's really cool. I figured that multithreading was not implemented yet. Regarding the maximum memory footprint, twice less memory is already a cool feat! I don't think 4 times less can be achieved though (compressed sequences end with padding, which should eat up a significant amount of memory in the end)

[2018-07-10 16:47] lczech commented on #7
Haha, that would be a nice marketing slogan!

The Biomarks sequences are 383nt on average. Each 64bit word (which is the padding size) can store 32nt. Thus, on average, Biomarks needs 12 words to store a sequence. Padding adds at most 1 word to this, so padding should amount for less than 10% of the memory on this dataset. It is of course more significant for shorter sequences.

[2018-07-11 08:59] frederic-mahe commented on #7
Reducing the memory footprint is important. To give you an example, I am starting to deal with +100 GB fasta files (of unique sequences) and swarm 2.0 takes roughly 150 GB of memory to process that. The cluster I am working on is upgrading: most nodes will now be equipped with bi-Intel Xeon Gold 6126 processors (12 cores each) and 96 GB RAM. If swarm's footprint could be reduced significantly (by

[2018-07-11 11:12] torognes commented on #7
Even though I am on vacation, I could not resist commenting the very exciting news. I am happy to see the improvements you made @lczech!

Regarding memory usage: The fasta headers are also stored in memory and may take considerable amounts of memory. Especially when the sequences are compressed by a factor of four, the lengths of the headers become relatively more important. Perhaps they can also

[2018-07-11 11:52] lczech commented on #7
Some more profiling results:

I ran the profiling again to see where the program spends most of its time. In terms of speed, there are no more apparent bottlenecks or inefficiencies. From now on, we can do some smaller optimizations, but they won't give overwhelmingly more speedup, I guess.

Furthermore, I ran a heap analysis to see what the memory is used for:

![swarm_alloc](https://user-images.

[2018-07-12 14:56] lczech commented on #7
I thought a bit more about the 8bit vs 64bit storage of the data. As @torognes wrote:

Not sure whether this is true. In both cases, some bit shifting is necessary to set or get or set a nucleotide at some position. But for comparing whole sequences, or inserting/deleting positions, the 64bit is faster, as fewer operations have to be executed. I don't see yet which operations would be faster with

[2018-07-13 07:04] frederic-mahe commented on #7
I am not sure text compression should be implemented for fasta headers. A simpler alternative is to recommend to use compact sequence names if memory is an issue. This is already what I do. I use sha1 hash values derived from sequences to name the sequences, and I could resort to md5 hash values if memory is really a problem (or even to ordinal numbers 1, 2, 3, 4, etc.).

By the way, "sha1" header

[2018-07-13 07:13] frederic-mahe commented on #7
Naively, I would imagine that the iterator could be used to produce all the microvariants, that array would then be split into n-groups, each group could be passed to a thread to perform the computationally expensive tasks (hashing).

[2018-07-13 09:49] lczech commented on #7
Re headers: If the sequences are compressed to 2bit per nt, they get reduced to 25% of their original size. Then, in comparison, the uncompressed headers make up ~30% of the size for biomarks, which is roughly what my heap allocation above shows. Compressing reduces this by half (I tried bz2, gz and zip).

Alternatively, if sequence names are guaranteed to be hashes, they only consist of symbols `

[2018-07-13 12:57] lczech commented on #7
Another thought about parallelization:

It is semi-expensive to start an iterator for indels, as in both cases, the whole vector needs to be shifted (either to insert or to delete a nucleotide). Incrementing the iterator to the next ins/del however is really cheap. So, instead of having, say, 2 threads performing indels for the first and second half of the vector, rather have one thread do ins, an

[2018-08-23 10:57] torognes commented on #7
Have tested the new code now and commited the last changes into the dev branch. Seems to work excellent! The twobit-strategy really paid off!

I agree regarding splitting the insertions and deletion variants into three or four so that each iterator could go through the whole sequence and generate variants of the specified type. We would then up with up to 7 or 8 threads in total (1 for del, 3 for

[2018-08-29 08:54] frederic-mahe commented on #7
@torognes @lczech Awesome work on the two-bit strategy!

The two-bit strategy should speed up the fastidious mode (faster microvariant generation), but not reduce its memory footprint. I am really looking forward testing swarm 3.0. I am sitting on huge datasets waiting to be crunched :-)

[2018-09-11 14:18] torognes commented on #7
I've just pushed a new branch called zobrist to the repo. I have made a number of changes there.

It uses Zobrist hashing as mentioned earlier and uses the computed hash for the Bloom filter and the hash table. This hash function results in no or extremely few collisions. When Swarm now generates variants it actually does not generate the actual sequences, it only computes the resulting hash. The

[2018-09-18 13:57] torognes commented on #7
Added fastidious support to the Zobrist branch and improved performance. Fastidious mode seems to be about 6 times faster than earlier while ordinary clustering is about 9 times faster than earlier. Fastidious mode still requires large amounts of memory to store the Bloom filter. The amount of memory used can be adjusted with the `--bloom-bits` or `--ceiling` options as before, but small Bloom fil

[2018-10-08 09:24] davidvilanova opened #116 "Problem with fasta header ???"
Hi,
While using swarm on dereplicated seqs using vsearch i got the following error

**Vsearch output**
Looks fine
[code]
**swarm output**

`swarm  -f -t 3 -d 1 -z  $outdir/derep.fa -s $outdir/amplicons.stats -u $outdir/ucfinal.txt -w $outdir/OTUs_temp.fa -l $outdir/logswarm > $outdir/amplicons.swarms
`
[code]

**The dereplicated file (derep.fa).**
This is the first sequence of the file
[code]

Usi

[2018-10-08 10:01] torognes commented on #116
Thanks for reporting this issue.

Could you please provide the command line that you used to dereplicate the sequences with vsearch as well?

The problem seems to be caused by the space in the header line after "ech97_125". Swarm will interpret this as the end of the identifier. It will not find an abundance value in the expected format (`;size=`) because the `-z` option was given and therefore co

[2018-10-08 10:07] davidvilanova commented on #116
Oh i see,
Here is the command line:

`vsearch --derep_fulllength Sequences.fa.gz --output $outdir/derep.fa --uc=$outdir/derepuc.uc --log=$outdir/log.derep --minuniquesize 1  --fasta_width 0 --sizeout
`
The input file is a fasta file, containing the space. I can remove everything after the space and keep the ;size=INT

For intance if it change the header to `>ech97_125;size=9503` it should work ?

[2018-10-08 10:33] davidvilanova commented on #116
I´ve used awk to clean headers on derep.fa
`awk -F'[ :;]' '{print $1,$NF}' OFS=";" $outdir/derep.fa `

Probably should have cleaned headers early on....

[2018-10-08 10:55] torognes commented on #116
Thanks.

Yes, that should work.

Unfortunately, there seems to be an issue with the `derep_fulllength` command in VSEARCH. It fails to remove everything in the header starting with the space. That's a bug. Sorry for that. I'll fix it.

[2018-10-08 12:05] frederic-mahe commented on #116
or `sed -i '/^>/ s/ .*;size=/;size=/' file.fas`

Thanks for reporting that issue @davidvilanova

[2018-10-08 12:17] frederic-mahe commented on #116
The issue in vsearch: https://github.com/torognes/vsearch/issues/338

[2018-10-08 12:32] davidvilanova commented on #116
Thanks guys for quick response !!!

[2018-10-09 13:10] torognes commented on #116
The bug is fixed in vsearch 2.8.6, just released.

[2018-10-09 13:10] #116 closed

[2018-12-18 06:38] tilaknayak opened #118 "swarm output file"
I am a new user of swarm, after i run the swarm (code `./swarm -f -t 2 -z -o myfile.txt -w myfile.representatives.fasta amplicons_linearized_dereplicated.fasta myfile.swarms`) i got a file like that
[code]
now my question is is that file is okay because i don't know how output file look and 2nd question from this how i deal with the statistical analysis because i don't understand the otu cluster v

[2018-12-21 11:31] frederic-mahe commented on #118
dear @tilaknayak sorry for the delay in answering you. I took some early vacation this year.

Your `swarm` command seems OK (except you can drop `myfile.swarms`, this is redundant with the `-o` option:
[code]
The results you obtain seem normal too. `swarm` is a clustering method, it takes fasta sequences and tells you what are the clusters (i.e. the groups of sequences) that make sense. That's all

[2019-01-09 18:49] frederic-mahe opened #119 "ikos static analyzer"
[IKOS](https://github.com/NASA-SW-VnV/ikos) (Inference Kernel for Open Static Analyzers) is a static analyzer for C/C++ based on the theory of Abstract Interpretation.

I've managed to compile and install ikos, but I've got an error message when launching the analysis of swarm's code:
[code]
That [error has been reported](https://github.com/NASA-SW-VnV/ikos/issues/56) by another user and marked as

[2019-01-12 18:23] frederic-mahe opened #120 "Benign buffer overflow when parsing fasta sequences"
when compiling swarm with gcc's [address sanitizer](https://github.com/google/sanitizers/wiki/AddressSanitizer) and testing the binary with [afl-fuzz](http://lcamtuf.coredump.cx/afl/), a potential buffer overflow is detected in `db.cc` the code parsing and storing fasta input.

Makefile modifications:
[code]

Compilation command:
[code]

afl-fuzz search:
[code]
where `./test_files/` contains a `ti

[2019-01-12 18:23] #120 closed, assigned to nobody

[2019-01-13 18:23] frederic-mahe opened #121 "segmentation faults with the zobrist branch"
Many unit tests fail when using a binary compiled with the latest code of that branch:
[code]
the problem could be limited to short sequences, as I did not observe any issue when feeding swarm with massive amounts of sequences with lengths ranging from 32 to 1,000 nucleotides.

Here is a simple test:
[code]
that yields a segmentation fault. Here's GDB's log:
[code]

[2019-01-14 10:03] torognes commented on #121
The segfault appeared when there were just 1 or 2 sequences in the input. It was due to insufficient size of the bitmap in one of the bloom filters. Fixed in commit a5c7a21896ca6d685e0893ab30988ba327bbe292.

[2019-01-14 10:24] frederic-mahe commented on #121
The issue is fixed.

Some unit tests still fail, I'll investigate and open new issues if need be.

[2019-01-14 10:24] #121 closed

[2019-01-14 11:06] frederic-mahe commented on #107
or ARM64, as it seems to be the future for consumer electronics.

[2019-01-14 11:13] frederic-mahe commented on #115
@torognes could you please give a look at the above list? It contains general advice, and I don't think there is anything specific that could be applied to swarm's code. Please close the issue when you are done.

[2019-01-14 11:19] torognes commented on #44
I do think we should spend time on support for 32-bit systems.

[2019-01-14 11:52] torognes commented on #44
Rewrite using intrinsics should perhaps be done anyway. Especially in order to port to other systems as described in issue #107. Could be based on the vsearch code.

[2019-01-14 12:56] frederic-mahe commented on #44
Let's reopen the issue under a new title.

[2019-01-14 12:58] torognes commented on #115
I've gone through the list and considered each issue and looked at the code. As far as I can see none of the issues are real problems in Swarm as the potential problems are taken care of in the code (array sizes, length of strings and memory areas). I have made a small change by replacing a sprintf call with a snprintf call, even though I can't see how it should break.

[2019-01-14 12:58] #115 closed

[2019-01-16 13:57] frederic-mahe commented on #118
@tilaknayak I am closing that issue. Feel free to open a new issue if you have another question.

[2019-01-16 13:57] #118 closed

[2019-01-17 15:11] frederic-mahe opened #122 "(not so) small tasks around swarm 3.0"
### Changelog for end-users
- swarm 3.0 expects dereplicated fasta files and exits with an error message if this is not the case,
- the only exception to that rule is when `-d 0` (i.e. the number of differences is set to zero),
- swarm 3.0 yields results identical to that of swarm 2.0, up to 10x faster and with half the memory footprint.
- clusters are written to output files in the order they are

[2019-01-17 18:46] frederic-mahe commented on #114
Done!

The man page was modified to use the dedicated EXAMPLE, SYNOPSIS, URL and EMAIL groff macros. The result looks nice and the SYNOPSIS section now covers the different ways to use swarm and the options available.

[2019-01-17 18:46] #114 closed

[2019-01-20 20:43] frederic-mahe opened #123 "memory-allocation error in swarm 3 fastidious"
when compiling swarm 3 with address sanitizer (see issue #120), a buffer-overflow is detected but it the error log is not very clear to me (see below). It could be an error in a shared-library.
[code]

error message is:
[code]

[2019-01-21 10:13] torognes commented on #123
I see similar problems when I run it with the same input in valgrind.

[2019-01-21 10:20] frederic-mahe commented on #123
I confirm:
[code]

[2019-01-21 11:06] torognes commented on #123
The initial problem was caused by an incorrect memory allocation for the variant sequences. For short sequences, when no sequence was longer than 6 bp, the amount allocated was too little. For longer sequences the amount was actually closer to 4x too much. Fixed now in commit 996e052d7f9bc963cd442161f29bd50ad35b2327.

[2019-01-21 11:11] frederic-mahe commented on #123
I've run address sanitizer tests and fuzzing on swarm 2 with the fastidious option without any problem, so I assume that issue concerned only swarm 3.

Is it possible to get rid of the unfreed-allocation reported by valgrind when using `--log`?

[2019-01-21 11:38] torognes commented on #123
Yes, the problem only applies to Swarm 3 with the fastidious option. The memory allocation for some temporary variant sequences was not adjusted after changing to 2-bit representation. The memory needs were actually reduced to one fourth, but they needed padding to 8 bytes. The overall total memory needs are not changed.

Regarding the lost memory with log file: The error is located and will be fi

[2019-01-21 11:44] torognes commented on #123
Log file problem fixed in commit 6edcf8eff09da51388e8c4c633da82621eeb5554.

Thanks for spotting these bugs!

[2019-01-21 11:52] #123 closed

[2019-01-21 11:55] frederic-mahe opened #124 "small memory leak when using the --log option"
Note the difference when using the `--log` option or not (no `--fastidious` option):
[code]

There is a small memory leak when using the `--log` option (1 allocation is not freed).

[2019-01-21 14:42] frederic-mahe commented on #124
Now covered by a unit test (see [commit 70503611b57d947aab416218b3598c4d1766f168](https://github.com/frederic-mahe/swarm-tests/commit/70503611b57d947aab416218b3598c4d1766f168)).

[2019-01-21 20:31] frederic-mahe commented on #124
fixed by commit 6edcf8eff09da51388e8c4c633da82621eeb5554

[2019-01-21 20:31] #124 closed

[2019-01-21 21:08] frederic-mahe opened #125 "incomplete creation of microvariants (short sequences) in swarm 3.0"
I am on a roll :-). This is covered by the test 53 in `fixed_bugs.sh`:
[code]
swarm 2.2 reports only one OTU, as expected, while swarm 3.0 reports three OTUs and three representative sequences:
[code]

[2019-01-22 13:37] torognes commented on #125
Swarm 3 does not work correctly with non-dereplicated input for d=1, yet.

It complicates the algorithm if it needs to take the potential presence of exact duplicates into account, and may slow it down.

Would it be acceptable to just stop after detecting duplicates and ask the user to dereplicate first? Or should it handle duplicates properly?

Would any serious user run it without dereplicating

[2019-01-22 14:35] frederic-mahe commented on #125
Hum, I see. I would need some time to think, but it might be OK to ask users for strictly dereplicated input files.

We would need a very clear error message though, maybe with a command-line example on how to dereplicate with vsearch.

Also, we may have to remove references to `d = 0`, which was a possibility with swarm 2.

[2019-01-22 14:38] torognes commented on #125
Well, dereplication could still be done with Swarm 3 with d=0.

[2019-01-22 14:45] torognes commented on #125
If there are duplicates, would it be okay to join them together under the id of one of them and summing their abundances?

For example if you had the following sequences:

[code]

Would it then be okay to treat them as if they were like this:

[code]

Essentially, it would be like using the result of an internal dereplication as the input.

It may be possible to keep track of the names and abundan

[2019-01-22 15:07] frederic-mahe commented on #125
yes, swarm 3 already does that when using `-d 0`:
[code]
The `-o` output gives the list of sequences in each cluster. Notice that the most abundant entry is the cluster representative, as expected.

[2019-01-22 15:10] torognes commented on #125
Yes, my example should have been:

[code]

[2019-01-22 15:26] frederic-mahe commented on #125
Do you think the `-d 0` algorithm could be optimized? like you did for vsearch's dereplication to reduce its memory footprint?

[2019-01-22 15:34] frederic-mahe commented on #125
The synopsis for `-d 0` could be:
[code]
(exclude options `-f`, `-n`, `-i`, and `-t`)

[2019-01-22 15:35] torognes commented on #125
Yes, a similar dereplication algorithm as in vsearch could be included.

[2019-01-23 18:36] frederic-mahe commented on #7
Awesome work @torognes and @lczech !

I am going to close this thread to reduce the list of open issues. Feel free to open it again if need be. We are getting closer to release swarm 3.0 and to get a first draft of the publication (more on that soon).

[2019-01-23 18:36] #7 closed

[2019-01-25 21:41] colinbrislawn commented on #89
With swarm 3.0 fast approaching (#122), the increasing popularity of Exact Sequence Variants, and the publication of the Qiime 2 paper, this might be the _perfect_ time to build a q2-swarm plugin.

🚀
Colin

[2019-01-27 09:53] frederic-mahe opened #126 "minor unfreed memory allocation (all swarm versions)"
That seems to be the only unfreed memory allocation. It appears when running swarm with the options `-v`, `-h`, or `-i`:
[code]
The allocation seems to be done by an external function. Can it be freed?

[2019-01-27 13:09] frederic-mahe commented on #126
All swarm options are now covered by valgrind tests to detect errors and memory leaks (https://github.com/frederic-mahe/swarm-tests/commit/18691cc78f4ba9c6ea7e242ae35bcd6830554561).

[2019-01-27 14:34] frederic-mahe opened #127 "Fastidious Bloom filter requires more memory than indicated in the help"
[code]
Testing with the smallest possible example triggering a fastidious grafting:
[code]
I'll modify the manpage. Maybe a test can be added to swarm when parsing the command line arguments to check that the input for `-c` is at least 8?

[2019-01-27 14:37] frederic-mahe commented on #127
manpage modified (https://github.com/torognes/swarm/commit/83280ba19cb900a847791c1d6279a9cb76e5cb35)

[2019-01-28 10:04] torognes commented on #127
Fixed in d2ade53.

[2019-01-28 10:35] torognes commented on #126
Fixed in a43597b.

[2019-01-28 10:51] torognes commented on #127
Now fixed in zobrist branch too: f16a45f33a9f8b2bc6c2f3cd72388bd7520b2843

[2019-01-28 10:52] torognes commented on #126
Now fixed in zobrist branch too: f16a45f

[2019-01-28 15:14] frederic-mahe commented on #127
All tests regarding the ceiling value are now up to date (https://github.com/frederic-mahe/swarm-tests/commit/a08390b2fab014bfbea3e6a6c537151a6d454039).

[2019-01-28 15:14] #127 closed

[2019-01-28 15:18] frederic-mahe commented on #126
All valgind tests now pass without error. Good job.

[2019-01-28 15:18] #126 closed

[2019-01-30 15:21] torognes commented on #44
In the zobrist branch, the SIMD assembly code in search8.cc and search16.cc is now replaced by intrinsics for x86_64. Ready for porting to other architectures (#107).

[2019-01-31 06:17] tilaknayak commented on #118
Hello sir now I am facing with a different problem. I am trying to build a
contingency table for amplicon with this script (python
amplicon_contingency_table.py P11_dereplicated.fasta > amplicons_table.csv)
and I got an error. Please help me to solve this error. I give the details
of this error bellow.
pkd@pkd-HP-406-G1-MT:~/swarm-master/scripts$ python
amplicon_contingency_table.py P11_dereplicat

[2019-02-02 06:20] debjitde01 opened #128 "Error occur in amplicon_contingency_table.py"
Hello sir

I am facing a problem, I am trying to build a contingency table for amplicon with this script (`python amplicon_contingency_table.py P11_dereplicated.fasta > amplicons_table.csv`) and I got an error. Please help me to solve this error. I give the details of this error bellow.
[code]

[2019-02-04 19:47] frederic-mahe commented on #44
Great! Let's close the issue then.

[2019-02-04 19:47] #44 closed

[2019-02-04 19:51] frederic-mahe commented on #128
hello @debjitde01

there seems to be a problem with you fasta file. Could you please show us a sample of your fasta file? the first few lines should be enough.

[2019-02-04 20:54] frederic-mahe commented on #119
New attempt on February 4, 2019 (compiling with a development version of `gcc` by the way). It seems ikos's error has been fixed.

The error report is long, with several hundred false positives (I think), and some interesting findings:
[code]

[2019-02-05 11:23] frederic-mahe commented on #128
@debjitde01 The script `amplicon_contingency_table.py` is expecting abundance values in usearch/vsearch format (`;size=`), whereas your fasta file uses `_` to separate the abundance values. You can either edit your fasta file (`sed -i '/^>/ s/_/;size=/'`), or change the script (`separator = ";size="` should be `separator = "_"`).

But there might be a confusion here, the goal of the script `amplic

[2019-02-05 17:51] frederic-mahe commented on #119
ikos works on the source code directly and makes its own compilation, so the level of optimization should not be relevant here. Regarding the code declared as dead, ikos can be wrong (see https://github.com/NASA-SW-VnV/ikos/issues/80), so we should probably not spend to much time on that.

Testing ikos was fun, and we should revisit it in the future, especially if C++ code support keeps improving.

[2019-02-05 17:51] #119 closed

[2019-02-07 05:35] debjitde01 commented on #128
Thank you. Now the problem is short out.

[2019-02-07 08:17] frederic-mahe commented on #128
Good. I'll close this issue then. Feel free to open a new issue if need be.

[2019-02-07 08:17] #128 closed

[2019-02-07 08:20] frederic-mahe commented on #89
@colinbrislawn you are right, but I don't really know where to begin. Would you help me kickstart that plugin?

[2019-02-07 17:30] colinbrislawn commented on #89
Thanks @frederic-mahe! I'm honored you reached out to me, but I'm not sure where to begin either. I guess I would look to the q2-vsearch plugin as a template, then build from there.  https://github.com/qiime2/q2-vsearch

@thermokarst, could you make us an official q2-swarm repo and invite us as contributors?

[2019-02-07 21:39] thermokarst commented on #89
Hey there @colinbrislawn! This plugin idea sounds really interesting, and good news, no need for us to make you a repo! Since QIIME 2 is decentralized, you can create the plugin wherever you want, then you can share it with users by registering it at the [QIIME 2 Library](https://library.qiime2.org)! The Library entry can contain instructions letting users know how to get your plugin and install i

[2019-02-08 06:43] debjitde01 commented on #128
Sure and thank you so much for your help
*Debjit De*

*Research Scholar*
*C/O - Dr. Paltu Kumar Dhal*
*Assistant Professor*
*Department of Life Science & Biotechnology*
*Jadavpur University*
*Kolkata - 700032.*

On Thu, Feb 7, 2019 at 1:47 PM Frédéric Mahé <notifications@github.com>
wrote:

[2019-02-11 14:33] frederic-mahe opened #129 "Makefile: add an "install" recipe"
users should be able to:
[code]
to install automatically the binary (`/usr/local/bin/`?) and the man page.

[2019-02-14 13:07] torognes commented on #129
I've added a top-level makefile that can both compile swarm in the `src` subdirectory and install the executable and the manual in an appropriate location (`/usr/local/bin` and `/usr/local/share/man/man1`, respectively). Now users may issue the following commands in the top-level directory to compile and install swarm:

[code]

To run `make install` the user may need to be `root` or use `sudo` (`s

[2019-02-14 15:27] frederic-mahe commented on #129
hum, sorry to be picky but having two Makefiles may confuse users, so I would prefer to have only one. I can merge the two Makefiles to make one, but which one do you think we should keep? The new top-level or the old one?

Keeping the old one would not break any habit of long time swarm users, so it has my preference. What's your opinion?

[2019-02-15 17:26] torognes commented on #129
It is quite common to have several makefiles in different folders to prepare different things in those folders. E.g. one for the code, one for the documentation, others for different libraries etc.

If there should be only one, I would actually prefer to have it in the top-level folder. The users who have downloaded the software then only need to change to the top-level directory and run make ther

[2019-02-15 18:40] frederic-mahe commented on #129
OK, it makes sense. If we agree on the principle of one Makefile, then it will be in the top-level directory. I'll move and modify the file this weekend.

[2019-02-17 11:46] frederic-mahe commented on #129
It turns out I was wrong. Your organization with two Makefiles is easier to grasp and makes for a smoother transition if one day we want to have only one top-level Makefile. I've reverted my modifications in the master branch to go back to your initial commit, but I cannot do it on the zobrist branch (something to do with detached HEAD, I'll have to read git's doc). Could you please revert my chan

[2019-03-05 10:20] frederic-mahe commented on #68
@nikosdarzentas it is probably far too late, but here is a python version of swarm (d = 1) I use for prototyping. This one is modified to include a `-m INTEGER` parameter you can use to limit the growth of clusters (1 generation from the seed, 2 generations from the seed, etc). I archive it here, in case  someone else needs such a feature.

This is written for `python 2.7` and you will need `biopy

[2019-03-05 10:20] #68 closed

[2019-03-05 14:09] frederic-mahe commented on #129
@torognes You were right about having a Makefile in the root folder. Could you please revert my changes in zobrist?

Once done, please close this issue.

[2019-03-05 14:15] frederic-mahe commented on #12
What are we going to do about this issue?

Now that AVX2 capable CPUs are more frequent, do you think it would be interesting to implement this? It is difficult for me to access the amount of work necessary, but I imagine that work could be re-used to speed-up vsearch's search function.

[2019-03-05 15:16] torognes commented on #129
The src/Makefile in the Zobrist branch has been restored.

[2019-03-05 15:16] #129 closed

[2019-03-05 15:25] torognes commented on #107
I have rewritten the assembly code in search8.cc and search16.cc to x86_64 intrinsics and simplified it. (Not pushed to Github yet.) It should now be easy to port it to ARM64 and POWER8. It will also make it easier to rewrite the code to use AVX2 with 256-bit wide registers as discussed for issue #12.

[2019-03-07 18:01] frederic-mahe commented on #125
I've written unit tests for the `-d 0` synopsis (https://github.com/frederic-mahe/swarm-tests/commit/717f1ca3def6cc5173258d20b6331433ea84aac2), along with valgrind tests (https://github.com/frederic-mahe/swarm-tests/commit/45ed000da3f315594626a6d6c73561ae5dc3e217), and I've updated `swarm.1`.

Now the only missing piece is an error message in swarm 3.0 indicating that some sequences are duplicated

[2019-03-07 18:13] colinbrislawn commented on #125
That's a great error message. Short and sweet, with examples of how to fix it. 👍

I'm not sure I understand this line... does swarm still support both formats?

[2019-03-07 20:28] frederic-mahe commented on #125
Thanks for yourfeedback @colinbrislawn

What I was trying to convey is the idea that `vsearch` and `swarm` use different abundance annotation formats (`_` or `;size=`) by default. For example, if dereplication is done with `vsearch`, then swarm clustering must use the `-z` option. Alternatively, vsearch cannot parse swarm's abundance annotation format (`_`).

I welcome any suggestion to make that

[2019-03-08 08:35] frederic-mahe commented on #125
Maybe the abundance annotation format can be covered by another error message. Let's remove the last two lines then:
[code]

[2019-03-08 09:06] torognes commented on #125
Good, but perhaps we should write ".fasta" and not ".fas", and abbreviate something else to fit within 80 characters:

[code]

[2019-03-08 09:48] frederic-mahe commented on #125
or fold the code and reduce indent?
[code]

[2019-03-08 15:10] torognes commented on #125
Commit 2b9e97e804bbe8958f4f435c2fef1357c9499cd3  in zobrist branch (Swarm 3) now gives a fatal error message if the input is not properly dereplicated.

[2019-03-08 15:35] torognes commented on #125
Zobrist branch renamed to swarm3.

[2019-03-08 15:47] torognes commented on #107
The changes with intrinsics have been pushed already. The zobrist branch is renamed to swarm3.

[2019-03-08 17:11] frederic-mahe commented on #125
Good. I now realize that there is a fatal error only when `-d 1`.
[code]
For higher `d` values, there is only a warning:
[code]
What do you think? Should we enforce dereplication for higher `d` values too?

[2019-03-08 22:47] colinbrislawn commented on #125
I think forcing dereplication is a good idea, as it prevents ambiguity about what will happen with the sequences. And the consistent pipeline makes the error messages easier to write.

---

Heck, you could make things really clear by requiring vsearch style size annotations and throwing an error if none are found. While verbose, the usearch / vsearch size annotations are impossible to misinterpret

[2019-03-12 14:16] torognes commented on #125
I think dereplication should be enforced for d>1 as well, so I'll change the code accordingly. It seems inconsistent to make it different for d=1 and d>1. The results could be bad in both cases.

[2019-03-12 14:36] torognes commented on #125
Commit bb860d3f12b41b0a06e62cf2c331d811bddeb355 enforces strictly dereplicated sequences for both d=1 and d>1.

[2019-03-14 18:19] frederic-mahe commented on #125
Perfect. This is now covered by unit tests.

[2019-03-14 18:19] #125 closed

[2019-03-14 18:40] frederic-mahe commented on #125
@colinbrislawn When we started `swarm`, other clustering tools (well, at least `DNAclust`) used `_INT` for abundance values, and `;size=INT` was not as dominating as it is now. We could mark `_INT` as deprecated in future versions of swarm, and switch to `;size=INT` exclusively for `swarm v4`. But I think making dereplication mandatory in `swarm v3` might be enough change for now.

[2019-03-15 16:39] colinbrislawn commented on #125
Thanks for telling me about the history of this. I understand now!

[2019-03-29 10:54] frederic-mahe opened #130 "Measure code coverage"
The purpose of this issue is to document a simple way to measure code coverage with `gcc` and `gcov`. Code coverage will be used to identify blind spots in swarm's test suite. As explained in the [gcov introduction](https://gcc.gnu.org/onlinedocs/gcc/Gcov-Intro.html#Gcov-Intro):

[code]
Initial reported coverage is 75.25% (3,155 lines of code). I've already started to write tests for the most obvi

[2019-05-07 13:21] torognes commented on #107
Swarm 3 now seems to work as it should on ARMv8. The sixteen channel 8-bit search is slower than  the 16-bit search though, so it is not used.

[2019-05-14 19:59] dcastaneda5 opened #131 "abundance values generator?"
Hi! I was just wondering if the `--derep_fulllength` with the option of `--sizeout `generates the appropriate abundance values required by swarm?

One of my output sequences from this generator is the following:
[code]

Does this mean that if I replace the ';' that separates the header from the size with a '_', it will serve as the required abundance values for swarm?

Thanks!

[2019-05-14 20:10] frederic-mahe commented on #131
@dcastaneda5 you can use swarm with the `-z` option to accept `;size=INTEGER` as abundance values.

[2019-05-14 23:03] dcastaneda5 commented on #131
That worked! Thanks a lot!

[2019-05-14 23:07] dcastaneda5 opened #132 "pooled samples?"
Hello!
So, I have encountered a problem that could be solved by swarm, however I am not sure. I currently have 20 sequenced samples. In every sample, I have the sequence of two different genes (msp1 and msp2) per .fastq file. When following the process of trimming, demultiplexing, pairing and converting to fasta, I will have refined files with the two genes. When I run swarm I will most likely get

[2019-05-15 06:57] dcastaneda5 commented on #97
Hi!
I have a question regarding this matter. When I run swarm in fastidious mode that means that my -d will be automatically 1 (so it will look for at least one SNP between reads, correct?), however, when I visualize the clusters using graph_plot.py and I adjust my -d 3, does that mean that the clusters (could I call them haplotypes?) visualized will be the only ones with at least 3 SNPs or indels

[2019-05-15 07:15] frederic-mahe commented on #132
If I understand correctly, you have fastq files corresponding to samples produced using a mixed-PCR (two markers amplified simultaneously). If that's the case, then you can separate the markers pre-clustering with cutadapt (or atropos) using the primer sequences.

If for some reason you cannot do that, then an alternative would be to keep everything mixed, clusterize with swarm, then perform a dou

[2019-05-15 07:36] frederic-mahe commented on #97
Swarm's default is to link amplicons with a single difference (one insertion or deletion or substitution), that's `-d 1`. With the fastidious option, swarm will allow a double difference (one insertion or deletion or substitution, twice) to link low-abundant amplicons to the closest cluster, assuming that intermediate amplicons were not observed for stochastic reasons.

If you produce visualizatio

[2019-05-15 14:21] #131 closed

[2019-05-16 23:04] dcastaneda5 commented on #97
Great! Thanks a lot! That clarifies it! (:

[2019-05-17 07:04] frederic-mahe commented on #122
Suggestions for help entries:
[code]

[2019-05-17 10:13] frederic-mahe commented on #122
swarm's uclust format output: check whether column 3 entry C "cluster size" should be the number of amplicons or the number of reads (sum of abundances)?

[2019-05-27 12:39] torognes commented on #107
Added support for POWER8 CPUs. Not very fast though, compared to x86_64 and ARMv8.

[2019-05-27 14:48] nikosdarzentas commented on #68
@frederic-mahe - sorry, I just saw this!
Many thanks.
Indeed I found other indirect ways to do what I want, but this is good to know.

[2019-06-10 17:01] frederic-mahe commented on #130
Hi @torognes
I would like to write a test to activate line 121 in `db.cc`:
[code]
my first idea was to write an abundance value in the middle of the header string:
[code]
but that does not work. Any idea?

[2019-06-13 11:07] torognes commented on #130
I think your idea is right, but that part of the code, the function `fprint_id_noabundance`, is only used when writing identifiers to the internal structure file (`-i`) and statistics file (`-s`), so you'll need to output to one of those files. For example, like this:

`printf ">s;size=1;length=1\nA\n" | ./swarm -z -o /dev/null -s - 2> /dev/null`

The result is:

[code]
Line 121 is executed to pri

[2019-06-13 13:06] frederic-mahe commented on #130
Great, I've added tests to trigger that function https://github.com/frederic-mahe/swarm-tests/commit/2c2cc9324f651b473d9f888170e5435316b5e00d. Thanks!

[2019-06-13 14:06] #132 closed

[2019-06-14 14:00] torognes opened #133 "Sort seeds by total mass before output"
When seeds are written (specified by the `-w`option) to a file, they should be sorted by the total mass of the swarm. If the mass is equal, they should be sorted by the label of the seed.

Remember to add this information to the manual.

[2019-06-14 14:00] torognes commented on #133
Code implemented in commit 817778a836e2224ad3e96c825663b41c5471fc8a for swarm3.

[2019-06-14 14:02] torognes commented on #107
Ported to Windows as well.

It now runs on Linux (x86_64, arm & power8), Mac (x86_64) and Windows (x86_64).

Considered done.

[2019-06-14 14:02] #107 closed

[2019-06-14 14:10] torognes commented on #122
Made the suggested changes to the help text in commit c07a0d440858309b670a6dd0657e4847c5c2fd73.

[2019-06-23 09:14] frederic-mahe commented on #107
Hi Torbjørn,

I finally set out to test compilation on my ARM system (Raspberry pi 3+), but it fails:
[code]

[code]
which is weird since `city.h` is present in the `./src/` directory (along with `citycrc.h`).

[2019-06-23 10:55] torognes commented on #107
It should probably be `#include "city.h"` instead of `#include <city.h>` in `swarm.h`. Will fix tomorrow.

[2019-06-24 10:03] torognes commented on #107
A few more files needed a modification to properly include the `city.h` file. Should be fixed now in commit e31646244a3339eddb67577974cdffc3310832b5.

[2019-06-24 10:15] torognes commented on #133
A note about the output order has been added to the manual in commit f64e4c22dfc6d629c4d9d1efc36904b33b638b98.

[2019-06-24 10:15] #133 closed

[2019-06-25 06:37] frederic-mahe commented on #107
Perfect, compilation is now possible on my Raspberry. There are about 15 unit-tests failing, I will investigate to try to understand why.

[2019-07-05 18:07] kemin711 opened #134 "DNA base characters other than ACGT"
Error: Illegal character 'N' in sequence on line 28062
This is not an issue, but could be handled by the algorithm. If we encounter N, then we should count the base as different.  Not sure how much work is needed.  The user can filter out sequences with N (this will removed some data).

[2019-07-10 10:05] frederic-mahe commented on #134
Hi @kemin711 swarm only accepts sequences with unambiguous nucleotides (ACGT). This is a design choice that allows swarm to be very fast, and supporting ambiguous nucleotides would mean a major slowdown.

With Illumina sequencing, ambiguous nucleotides are rare (very few sequences with Ns), and swarm's strict support has never been a problem for me. If for some reason you end up with sequences wit

[2019-07-19 10:51] frederic-mahe commented on #104
Running again `cppcheck` on the latest master version of swarm v2:
[code]
`cppcheck` yields three warnings:
[code]
The rest are *style* issues:
[code]
These style issues are not really a problem, but maybe these unused functions could be commented or removed?

Running `cppcheck` on swarm 3.0 yields:
[code]

[2019-07-20 09:13] frederic-mahe opened #135 "Code Quality Benchmark (softwipe)"
The newly published [softwipe](https://github.com/adrianzap/softwipe) aims to provide an automatic evaluation of C/C++ bioinformatics tools' quality (here, quality is meant as compliance to what are considered good code practices). Results for different tools, including swarm, are summarized as a [Code Quality Benchmark](https://github.com/adrianzap/softwipe/wiki/Code-Quality-Benchmark).

Should w

[2019-07-20 09:16] frederic-mahe commented on #135
Here is swarm 3.0 compilation log [swarm.clang_all_warnings.gz](https://github.com/torognes/swarm/files/3413383/swarm.clang_all_warnings.gz)

[2019-08-27 09:59] #134 closed

[2019-09-17 07:47] torognes commented on #104
Will fix issues in swarm 2 as well.

[2019-09-17 09:42] torognes commented on #104
Swarm 2 updated too.

[2019-09-17 10:49] torognes commented on #135
I'll work on reducing the number of these warnings in Swarm 3. Many of them are probably identical in Swarm 2, but I do not think it is worth the extra effort to remove them in both branches.

[2019-09-17 11:14] frederic-mahe commented on #104
Now `cppcheck` only reports style issues, no more warnings. Here is the report for swarm 2, excluding cityhash:
[code]
Same thing for swarm 3.0:
[code]
Nice work!

[2019-09-17 11:14] #104 closed

[2019-09-17 12:37] torognes commented on #104
Fixed the shadowed variables in Swarm2 and Swarm3 as well.

[2019-09-17 13:06] frederic-mahe commented on #104
Awesome! To conclude that journey, here is the `cppcheck` command one can use to exclude cityhash code:
[code]

[2019-09-18 12:45] torognes commented on #135
About 250 of the warnings in swarm3 have been fixed in commit c02b3a4a76bdc2708eab9d9e882e40fb5fdde52a. The remaining ones are mostly related to casting and related stuff. Will continue with those.

[2019-09-18 15:29] frederic-mahe commented on #135
Note for later, KWStyle reports a few things that are easy to fix (missing space, long lines, etc)

[2019-09-18 15:55] torognes commented on #135
Do you have all the output from running softwipe available?

[2019-09-18 16:15] frederic-mahe commented on #135
sure, here are the results for the tools that report issues:
[softwipe.zip](https://github.com/torognes/swarm/files/3627383/softwipe.zip)

[2019-09-22 14:07] frederic-mahe commented on #133
OK, this is now covered by tests (see https://github.com/frederic-mahe/swarm-tests/commit/e17aac703910bd6379b12215c9b40930874d7ff1)

[2019-09-22 14:45] frederic-mahe opened #137 "swarm 3.0 Floating point exception for bloom-bits values 2, 3 and 4"
These tests pass with swarm 2.2, but not with swarm 3.0:
[code]
just try this command line to replicate the issue:
[code]

[2019-09-23 08:41] frederic-mahe commented on #137
Note: these are the only tests that fail with swarm 3.0.

[2019-09-23 13:07] frederic-mahe commented on #135
By the way, here is the command line I use to get a summary of clang's compilation warnings (clang v10):
[code]
[code]
This was not previously reported ` 13 [-Wimplicit-int-float-conversion]`. Out of the initial 1,365 warnings, 487 remain.

[2019-09-23 15:15] torognes commented on #137
Should be fixed now in commit 90acfc55344e32c376d7db7608f898e844c51ea1.

The problem appeared when the size of the Bloom filter was less than 64 bits in total. Will now be adjusted up to at least 64 bits.

[2019-09-23 15:33] frederic-mahe commented on #137
Perfect, now swarm 3.0 passes all unit tests. Nice work!

[2019-09-23 15:33] #137 closed

[2019-09-23 15:48] frederic-mahe commented on #135
Maybe the DATE and TIME macros could be removed from swarm 3.0's code?
[code]
It would be a step towards reproducible builds. [Even Microsoft](https://devblogs.microsoft.com/oldnewthing/?p=97705#comment-1319655) is trying to achieve that goal! :-)

[2019-09-24 07:44] torognes commented on #135
Date and time has been removed in commit 848f2256e28b1a499a9b1e0d5d0bd15811de509d.

[2019-09-24 08:22] frederic-mahe commented on #135
[code]
460 warnings to go. I am so sorry, this must be a very tedious task. What's your opinion so far? Are these warnings informative?

I am under the impression that some of the warnings helped made the code more robust and cleaner. However, a majority of the warnings seem to push towards c++ modernization (c++17, c++20, etc.). That's not directly helpful, but that should make the code easier to

[2019-09-24 08:41] frederic-mahe commented on #135
Also, I run swarm-tests after each of your commits and I can confirm that all tests continue to pass.

[2019-09-24 09:57] torognes commented on #135
Nice to hear that it passes all tests!

I think some of the warnings are useful and help removing bad code (e.g. unreachable code, shadowed variables etc), but others are merely highlighting some things that are implicit (like conversion between signed and unsigned, smaller range etc) and could be problematic if it is not done on purpose. These conversions are usually taken into account when writi

[2019-09-24 10:50] lczech commented on #135
Wow, you put quite some effort into the code quality, good to see! I did the same once with my library genesis, which both helped to clean up the code, and get a higher softwipe rank ;-)

Still, at some point, I decided to not try to fix everything. Some of the compiler warnings are overly strict, and sometimes even contradictory, so it is not always possible to fix everything (unless you put an o

[2019-09-24 13:29] colinbrislawn commented on #135
This sounds like a job for Travis-CI! 🚀

[2019-09-26 15:43] frederic-mahe commented on #135
[code]
Only 293 warnings to go, more than 1,300 fixed. That's an impressive feat! In the meantime, I'll focus on reviewing the documentation.

[2019-09-30 15:35] torognes commented on #135
I think I have fixed all the remaining warnings by clang/g++ now in commit 89d938dd068d88a0908e2a128cc9b0d475caf7b4. Tests seem to run well and results of some test runs are as expected, but some subtle bugs cannot be ruled out.

[2019-09-30 15:45] frederic-mahe commented on #135
Almost :-). The 13 `[-Wimplicit-int-float-conversion]` are still there.
[code]

[2019-09-30 15:54] torognes commented on #135
The clang compiler on my Mac does not detect this, but I'll try to fix them anyway.

Fixed a few more issues detected by cppcheck.

[2019-09-30 16:28] torognes commented on #135
Fixed remaining int to float conversion warnings in commit 1950c83f3524d1a6f115e6e81d7974a5d34373ab, I hope.

[2019-09-30 16:34] frederic-mahe commented on #135
Indeed, no more warnings! Amazing work @torognes !

[2019-09-30 17:32] frederic-mahe commented on #135
Latest results from softwipe are:
[code]
Taking into account the fact that we use external tests and not assertions (besides two newly introduced `assert()` in `nw.cc`), swarm 3.0 has an overall score of 7.5/9. Not bad at all!

I think we can move on. Torbjørn, if you agree, please close the issue.

See below for details:
[code]
Here are the remaining complaints from cppcheck and KWStyle:
[code]

[2019-10-01 10:52] torognes commented on #135
Ok, let's move on.

[2019-10-01 10:52] #135 closed

[2019-10-01 11:30] torognes commented on #122
Is it ok if I set up [Travis](https://travis-ci.org) to compile (and possibly test) Swarm, as done for vsearch?

[2019-10-01 11:35] Carambakaracho opened #138 "support ambigous nucleotides N"
Dear Frederic, dear Torbjorn,

Usually, my sequences harbor some low level of ambiguous N nucleotide characters. Such data is currently rejected by swarm. Will it be possible to support N nucleotides in the future? My workaround currently is somthing like `sed 's/N/A/g' <in.fasta >out.fasta`.

It's no big deal, as these are low frequency sequences and most of them are filtered out anyway. But I gu

[2019-10-01 11:38] Carambakaracho commented on #138
Apologies, I saw you dismissed a similar request in the past for performance reasons. Fair enough, closing this.

[2019-10-01 11:38] #138 closed

[2019-10-01 13:53] torognes commented on #122
Yes, I think so.

[2019-10-01 16:53] frederic-mahe commented on #138
@Carambakaracho yes, swarm only accepts ACGT. In my experience though sequences with Ns typically account for a fraction of a percent of datasets. Ignoring or transforming them should have no impact whatsoever on downstream analyses.

Thanks though for taking the time to open an issue (and to read through previous issues).

[2019-10-02 10:52] torognes commented on #122
Travis CI will now automatically compile and test swarm3 after any commit is pushed or any pull request is submitted.

The status can be seen here: https://travis-ci.org/torognes/swarm

It fails if it compiles with an error or if any of the tests fail.

It is compiled using g++ version 7.4.0 on Ubuntu 18.04.3 (bionic) linux.

The swarm-tests repo is automatically cloned from its source.

It all se

[2019-10-02 10:55] torognes commented on #135
@colinbrislawn:

Yes, and it's doing that job now!

[2019-10-02 12:50] frederic-mahe commented on #130
I cannot activate line 603 in `swarm.cc` with my tests:

https://github.com/torognes/swarm/blob/b584e94b8eb8a92e8e7e5868ee2f597c0094182b/src/swarm.cc#L603

[code]
I assumed that a simple swarm command without any output file would activate that line, but my tests with `gdb` show that it is not the case. Any idea?

[2019-10-02 13:33] torognes commented on #130
Actually that line cannot be activated. The variable `opt_output_file` is initialised to point to a dash (`-`) at start and then changed to point to a filename if any is given on the command line. It will never be `null`. I'll remove that line of code and rewrite some nearby code as well.

If a filename is `-` then `stdin` or `stdout` will be opened instead at a later stage, depending on whether i

[2019-10-02 13:52] frederic-mahe opened #139 "code coverage for derep.cc"
(if you don't mind, I will open independent issues for code coverage cases I am not able to solve)

`gcov` reports four lines that are never activated by our test suite (see below, marked as `#####`).

I've worked a while on line 50 but I was not able to create input data where `x->mass < y->mass`. Here is an example of what I've tried `printf ">s1_1\nA\n>s2_2\nC\n>s3_3\nG\n>s4_4\nT\n" | swarm -d

[2019-10-02 14:07] frederic-mahe opened #140 "code coverage for db.cc"
I think that line 287 cannot be reached (see below). If the abundance value is negative `;size=-1;` then it cannot be captured by the regex and the error message is:
[code]

[code]

[2019-10-02 14:38] torognes commented on #139
When I run the code with `printf ">s1_1\nA\n>s2_2\nC\n>s3_3\nG\n>s4_4\nT\n" | swarm -d 0` it seems like all three alternatives (line 50, 52 and 54-61) are executed at least once. Both on Mac and Linux/x86 (but with varying numbers). I am unable to reproduce that issue. (I inserted some print statements in the code to see what happened.)

The `derep_compare` function is only called by the qsort fun

[2019-10-02 14:43] torognes commented on #140
What if the abundance is zero? E.g. `printf ">s;size=0\nA\n" | swarm -z`

[2019-10-02 16:18] frederic-mahe commented on #140
Of course, you are right. I must be really tired, I read `number > 0` as `number >= 0`. Sorry!

Code coverage is progressing but I will need your help for the last percents.

[2019-10-02 16:18] #140 closed

[2019-10-02 16:44] frederic-mahe commented on #139
Is it possible that these lines are optimized into one machine instruction in your binary? (I am compiling with `-O0` when using `gcov`). As you can see our test suite triggers that conditional 166 times, but `return +1`is never activated.

[2019-10-03 09:57] frederic-mahe opened #141 "db.cc: condition is always true"
https://github.com/torognes/swarm/blob/10f1d85d6233105d124facee21f97ca52f8ce849/src/db.cc#L211

[code]
Isn't attribute always set? Hence, the second part of the condition (`or not attribute`) is not necessary?

[2019-10-03 10:02] frederic-mahe commented on #141
For example, passing a empty header does not trigger the `return false`:
[code]

[2019-10-03 10:19] torognes commented on #141
Yes, `attribute` is always set, so the second part of the condition is always true. I will remove it.

Regarding the example: An empty string is still a string (not a zero pointer) so header will still be set.

[2019-10-03 10:24] torognes commented on #141
Fixed now.

[2019-10-03 10:26] torognes commented on #141
The check is meant to capture internal coding errors, not empty headers.

[2019-10-03 11:00] frederic-mahe commented on #141
Thanks, it makes sense. Then, would it be a good opportunity to use an `assert`?
[code]
If I understand correctly, assertions are not evaluated at runtime, unless compiled with `NDEBUG`. So there is no performance penalty when using `assert()`, where there can be some when using conditionals branching to capture coding errors.

[2019-10-03 11:04] torognes commented on #141
Maybe assert would be fine here, but the overhead is negligible and I prefer the function to return false if the parameters are illegal.

[2019-10-03 11:15] frederic-mahe commented on #141
That makes sense. Thanks!

[2019-10-03 11:15] #141 closed

[2019-10-03 14:36] frederic-mahe opened #142 "nw.cc: last lines not triggered by a test"
I don't think I can make up a toy-example that could trigger that error in `nw.cc`:
[code]
Am I correct? or do you happen to have such an example?

[2019-10-03 14:46] torognes commented on #142
In this case it should be an assert. This error should not occur unless there is a bug in the code.

I'll change it to an assert.

[2019-10-03 14:57] torognes commented on #142
Fixed in commit 9286af7c120f9f319dd4f7eff9072e2b7c15a79f.

[2019-10-03 15:00] torognes commented on #142
Sorry, too quick there. Fixed in commit ece391365b01f395e76db7a6b4425a8d4b2d48b5.

[2019-10-03 15:08] frederic-mahe commented on #142
[code]
Nice!

[2019-10-03 15:08] #142 closed

[2019-10-04 10:43] torognes commented on #139
It seems like dereplication (`-d 0`) with the following input

[code]

triggers all cases:

[code]

[2019-10-04 17:33] frederic-mahe commented on #139
Indeed! Added to our test suite https://github.com/frederic-mahe/swarm-tests/commit/a9f2e0cfe81324530b8f9e68fbe96823e4bdf05d

[2019-10-04 17:33] #139 closed

[2019-10-05 09:36] frederic-mahe opened #143 "code coverage for algod1.cc"
In my tests, the last condition of that function is never met (line 652):
[code]
Trying `printf ">a_2\nA\n>b_1\nG\n>c_1\nT\n"` or `printf ">a_2\nA\n>b_1\nT\n>c_1\nG\n"` shows that `x` and `y` are the alphabetical order of the sequences (since amplicon names and abundances are constant). Now that two amplicons cannot have the same sequence, `x = y` cannot happen.

[2019-10-07 15:43] torognes commented on #143
It is correct that `x` and `y` will never be identical when swarm runs and that the line `return 0;` will never be executed under normal circumstances. However, this `compare_amp` function is a function provided to and called by the `qsort` function. It is required that this comparison function return a number less than, equal to, or larger than zero depending on the relationship between the two a

[2019-10-12 11:37] frederic-mahe commented on #143
OK, it make sense. I had in mind to add an `assert(*x != *y)`, but based on your answer, it might not be a good idea. Maybe a comment would be useful for future maintainers? For example, `swarm checks that all amplicon sequences are unique (strictly dereplicated input data), so distinct amplicons with the same sequence are not expected at this stage`

[2019-10-14 11:08] torognes commented on #143
Ok, I've added that comment.

[2019-10-14 12:31] #143 closed

[2019-10-16 10:15] frederic-mahe opened #144 "code modernization (long-term task, very low priority)"
The goal here is to record and discuss code patterns that could or should be modernized for swarm's long-term maintainability, this is not a to-do list _per se_. C++ norms and compilers are getting stricter and smarter, with loads of new compile-time checks, my opinion is that we should try to get the best out of it.

(and yes, I've started to read C++ books, so I am going to be very annoying for

[2019-10-16 17:50] frederic-mahe commented on #130
As of today, our code coverage is 85.83%, for 3,507 lines of code (excluding third-party code). We've gained 10% since we've started to work on that. Most of the remaining uncovered code is in `search8.cc` and `search16.cc` in what I think to be debug functions (e.g., `dprofile_fill8`). Lines contained between preprocessor instructions are ignored by `gcov`:
[code]
Maybe we should set the code for

[2019-10-16 21:15] dcastaneda5 opened #145 "Does swarm work with nanopore short amplicons?"
Hi! I have used this software in the past to determine different haplotypes across short gene malaria markers with illumina data. However, I am currently working on this project that involves nanopore data. My depth is good (about 50,000) across gene markers that are less than 1kb of length. However, after I polish my nanopore reads (given its high error rate), and I run swarm using -d 1, -d 2, an

[2019-10-17 10:11] torognes commented on #130
Looks good!

The `dprofile_fill8` and `dprofile_fill16` functions (in `search8.cc` and `search16.cc`) are not debug functions but functions called instead of `dprofile_shuffle8` and `dprofile_shuffle16` (in `ssse3.cc`), respectively, on x86_64 cpus without SSSE3. So they are only used for old cpus with just SSE2. Very rare these days. To get code coverage on these you need to run the software on a

[2019-10-17 13:07] frederic-mahe commented on #130
No, no need to remove these functions, I am glad we have support for older CPUs. I do not mean to discard code just to improve our coverage score. Anyway, we can report a raw coverage score, and explain that most of the remaining uncovered code is hardware-specific, or linked to extreme conditions (out-of-memory, thread failure, etc) that cannot be easily reproduced.

Besides that, there are still

[2019-10-17 13:07] #130 closed

[2019-10-17 14:01] frederic-mahe opened #146 "code coverage 2: the gnarly cases"
@torognes Don't panic! I've listed here all uncovered lines that may be reachable with a carefully crafted test. That's too many to deal with at once, but maybe we could try to tackle a couple cases per week?

If you agree with that, I would like to pick your brain on this week's case: line 377 of `algo.cc`. To trigger that line, I need to compare two sequences with enough differences to saturate

[2019-10-18 10:27] torognes commented on #146
OK!

This will trigger line 377 of `algo.cc`:

`printf ">a_3\nAAAACCCC\n>b_2\nAAAAGGGG\n>c_1\nTTTTGGGG\n" | swarm -d 7`

With default alignment score parameters, `d` needs to be at least 7 to use 16-bit computations. We also need to use three sequences that have 1-7 differences between A and B, and 1-7 differences between B and C, and >7 differences between A and C to trigger the scan for second-g

[2019-10-18 12:33] frederic-mahe commented on #146
Perfect!
[code]
Now covered by a test (https://github.com/frederic-mahe/swarm-tests/commit/d0b5d7de08fb16e06079e961a9c2ab68b6d904be). We'll continue next week :-)

[2019-10-20 14:22] frederic-mahe commented on #107
swarm 3 passes all tests on a Raspberry running Linux.

[2019-10-21 04:17] KabitaBaral1 opened #147 "amplicon sequence reconstruction with swarm?"
Hello,

I am currently working on a genotyping project that involves the use of highly variable gene markers. We used the Nextera kit for the library preparation prior to illumina sequencing in paired-end mode (2x250 bp). I was wondering if Swarm performs a sequence reconstruction of my amplicons from my sheared reads (my marker size is about 850 bp). We are planning to label each cluster as one g

[2019-10-21 15:46] frederic-mahe commented on #145
If you clusterize 1 kb-long sequences with d = 1, 2 or 3, you will link pairs of sequences with 1, 2 or 3 differences. Only 3 differences over 1000 bp is not much (0.03% dissimilarities), that could explain why you cannot link a lot of your sequences. You could try with higher _d_ values, but a more interesting approach with relatively smaller dataset such as this one might be to try full-knowledg

[2019-10-21 16:05] frederic-mahe commented on #147
Hi Kabita, if I understand correctly you have amplified long fragments (800-900 bp) of a marker, and these long fragments were randomly sheared pre-sequencing. You ended up with 2x250 bp read pairs, covering random parts of the long fragments, and you would like to reconstruct the fragments _in silico_.

I must say I have never had to deal with such data. I don't think swarm would be suited for th

[2019-10-21 18:25] colinbrislawn commented on #147
Hello Kabita,

I think Frédéric summarized this well. Because no single read covers the full region, your task is closer to genomic assembly. You might try a tool like [spades](http://cab.spbu.ru/software/spades/) for this task.

Panel A of [this figure](https://genome.cshlp.org/content/19/2/336/F2.expansion.html) illustrates one of the problems you will face.

![de Bruijn graph examples](https://

[2019-10-21 19:58] KabitaBaral1 commented on #147
Hey Torognes/Swarm,

Thank you very much for your help. I appreciate it.

Sincerely,
Kabita Baral
MS Bioinformatics
The University of Texas at El Paso

On Mon, Oct 21, 2019 at 12:25 PM Colin Brislawn <notifications@github.com>
wrote:

[2019-10-22 08:08] frederic-mahe commented on #147
Thanks Colin for your input.

[2019-10-22 08:08] #147 closed

[2019-10-22 16:03] dcastaneda5 commented on #145
Hi Frederic! Thank you for your fast reply. Yes, I was thinking to do the same and increase the 'd' parameter, although I am not sure how could I justify that in the future when I consider to publish, as I am currently getting a hard time with reviewers for using a '-d 2' in another project that involves illumina sequencing. I was also considering to adjust the global alignment parameters to somet

[2019-10-23 09:11] torognes commented on #146
Regarding the non-covered code in `variants.cc`:

Lines 73-76 and 122-127 is code for checking "non-variants". The code to generate all microvariants currently includes a non-variant sequence identical to the seed. This was done to handle the former case where the input sequences were not guaranteed to be dereplicated. As this is now a requirement, the code handling "non-variants" could perhaps be

[2019-10-23 09:57] frederic-mahe commented on #146
Thank you for following up on that!

I like a challenge, but storing hash values and ordinal sequence identifiers for that whole search space would require something in the ballpark of 300,000,000 terabytes of memory. What does swarm do if it encounters a collision? is there a warning? if yes, that means that I've never had a collision in all the datasets I've dealt with so far. Could you please t

[2019-10-23 11:13] torognes commented on #146
The rare case where two different sequences have the same hash value is handled well. It is not a problem. It does not give a warning. It might be that you have had a collision in analysing one of your (big) datasets, but you wouldn't have noticed, and the results should be perfectly fine! No cause for alarm!

This just means that when two sequences have the same hash, swarm does not take for gran

[2019-10-23 11:57] frederic-mahe commented on #146
Thanks Torbjørn. I noticed that `zobrist.cc` contains an initialization function (line 28). In the context of unit test, does this mean that collisions are not replicable? As I understand it, hash values for each sequence will be different in each swarm run. Am I correct?

[2019-10-23 14:47] torognes commented on #146
The random number generator is always first initialised with the number 1 as seed. It is done on line 661 of `swarm.cc` by calling the `arch_srandom` function in `arch.cc` which calls the `srandom` function on Linux (or `srand` on Windows). That should generate the same set of random values for the hash function each time, at least with the same options and input, on the same platform. On differen

[2019-10-24 19:03] torognes commented on #146
There is an online service we might use to track code coverage: https://codecov.io/

[2019-10-25 16:33] dcastaneda5 opened #148 "Empty internal files after running swarm with -d 0"
Hi! I've been looking at the output from Swarm by tuning different parameters into it. I've tried with `-d 1`, `-d 2`, and `-d 3.` However, when I run it using `-d 0`, I get empty internal files, and therefore I cannot plot the network by using `graph_plot.py.` Do you know why this could be happening?

Thanks in advance!